      <div class="jumbotron">
        <h1>一字千金 讀取頁面</h1>
        <p>目前上線人數<span id="user_count">0</span>人</p>
      </div>
      <div style="float:left;">
        <% @range.each do |x| %>
        <canvas id="origin_<%= x %>" class="orgincanvas"></canvas>
        <button id="start_<%= x %>" style="font-size:15px;">Start</button>
        <button id="stop_<%= x %>" style="font-size:15px;">Stop</button>
        <% end %>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'chats' %>
      <script>
      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        for(var i = 1;i <= <%= @count %>;i++){
          CM.reg('origin_'+i);
        }
        <% @user_unregs.each do |user_unreg| %>
          CM.unreg('origin_<%= user_unreg %>');
        <% end %>
        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents(20);

      });
      </script>
      <% end %>