      <div class="jumbotron">
        <h1>一字千金 模擬測試寫入頁面</h1>
      </div>
      <div style="float:left;">
        <div style="height:30px;width:300px;padding:5px 0;">
          <button id="clearBtn" style="font-size:15px;">Clear</button>
          <button id="prevBtn" style="font-size:15px;">Prev</button>
        </div>
        <canvas id="origin_<%= @user_id %>" class="orgincanvas"></canvas>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'chats' %>
      <script>
      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 6,
          lineColor: '#a0e0e0',
          targetZoomScale: 1,
          backgroundImage: '/assets/block-524.png'
        });

        CM.reg('origin_<%= @user_id %>');
        ocan = document.getElementById('origin_<%= @user_id %>');
        window.chatApp = new ChatApp(ocan.offsetLeft,ocan.offsetTop,'<%= @user_id %>');
        window.chatApp.bindEvents();
        window.chatApp.triggerEvents();

        return ;
      });
      </script>
      <% end %>