<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


.every_writer_box{
  float:left;
  padding-top:22%;
  width:5%;
}

.img_box{
  display:block;
  margin:0 auto;
}

.user_one{
  border:2px solid green;
  width:96px;
  height:96px;
  position:absolute;
}

.user_two{
  border:2px solid yellow;
  width:96px;
  height:96px;
  position:absolute;
}

</style>
<% end %>
<div id="user_one"></div>
<div id="user_two"></div>
<span id="second" style="color:red font-size:12px;" class="badge"><%= @second %>秒</span>
<div>
  <div class="every_writer_box">
    <h4 class="text-center"><%= @visitors[0].name %></h4>
    <%= render_gamer_photo(@visitors[0],"thumb",50,50,"img_box") %>
    <br>
    <button id="start_button_<%= @visitors[0].number %>" style="font-size:12px;" value="<%= @visitors[0].number %>" type="button" class="btn btn-default navbar-btn">Start</button>
    <button id="stop_button_<%= @visitors[0].number %>" style="font-size:12px;" value="<%= @visitors[0].number %>" type="button" class="btn btn-default navbar-btn">Stop</button>
  </div>
  <% alpha = "ABCDEFGHIJKL" %>
  <table id="canvasTable" style="border-collapse:separate;border-spacing:1px 0px;width:65%;float:left;table-layout:auto;">
    <tr>
      <td></td>
      <% (0..11).to_a.each do |x| %>
      <td>
        <h4><%= alpha[x] %></h4>
      </td>
      <% end %>
    </tr>
    <% (1..8).to_a.each do |x| %>
    <tr>
      <td>
        <h4><%= x %></h4>
      </td>
      <% (1..12).to_a.each do |y| %>
      <td>
        <button name="clear" value="<%= x %>,<%= y %>" type="button" class="btn btn-xs btn-default" style="position:absolute">Clear</button>
        <canvas id="origin_<%= x %>_<%= y %>" style="z-index:1;border:1px solid red"></canvas>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <div class="every_writer_box">
    <h4 class="text-center"><%= @visitors[1].name %></h4>
    <%= render_gamer_photo(@visitors[1],"thumb",50,50,"img_box") %>
    <br>
    <button id="start_button_<%= @visitors[1].number %>" style="font-size:12px;" value="<%= @visitors[1].number %>" type="button" class="btn btn-default navbar-btn">Start</button>
    <button id="stop_button_<%= @visitors[1].number %>" style="font-size:12px;" value="<%= @visitors[1].number %>" type="button" class="btn btn-default navbar-btn">Stop</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <button id="next_button" style="font-size:20px;">下一位</button>
    <input id="row" type="number" value="1" />
    <input id="column" type="number" value="1" />
    <input id="showText" type="text" value="" style="width:50px;" />
    <button id="showTextButton">出題</button>
  </div>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server_idioms' %>
<%= javascript_include_tag 'server_idioms_helpers' %>
<script>

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("user_picture_block");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("user_picture_block");
}

      //var alarm = {};
      window.open("tvwall_<%= params[:stage] %>?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","tvwallWindow","width=800, height=800");
      window.open("record_idioms?join_visitors_number=<%= params[:join_visitors_number] %>","recordWindow","width=800, height=800");

      window.alarm = null;


      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#ffffff',
          targetZoomScale: 0.035
        });
        <% (1..8).to_a.each do |x| %>
        <% (1..12).to_a.each do |y| %>
        CM.reg('origin_<%= x %>_<%= y %>');
        <% end %>
        <% end %>


        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();
        window.chatApp.reset();

        (function collectGamers() {
          <% @visitors.each do |visitor| %>
          gamers.push('<%= visitor.number %>');
          <% end %>
        })();


        $('[id^=start_button_]').click(function(){
          window.chatApp.action(this.value,'start');
        });

        $('[id^=stop_button_]').click(function(){

         window.chatApp.action(this.value,'stop');
           //receiveSubmitHandler({user_id:this.value});
         });

        $('#next_button').click(function(){
          // stop last user
          if (gamers.prev() != null) {
            window.chatApp.action(gamers.prev(),'stop');
          }
          var newgamer = gamers.next();
          // call old gamer to stop
          // call new user to clear screen
          window.chatApp.action(newgamer,'start');
          //there is not setActive?
          // startSetStyle(newgamer);
          // startCounter(newgamer);
        });

        $('[name^=clear]').click(function(){

          var xy = this.value.split(',');
          var block = { row: xy[0], column:xy[1] };

          window.chatApp.clear(0,block); 
        });

        $('#showTextButton').click(function(){

          window.chatApp.sendText($('#showText').val(),{row: $('#row').val(), column:$('#column').val()});

        });

      });
</script>
<% end %>
