<% content_for :stylesheets do %>

<% end %>      

      <div class="jumbotron">
        <h2>一字千金 操作後台</h2>
<!--         <h4>目前上線人數<span id="user_count">0</span>人</h4> -->  
        <% if @second.to_i > 0 %>
          <div style="padding:5px;">
            <input id="secondInput" value="<%= @second %>" style="width:60px;" />
            <button id="secondUpdate">更新秒數</button>
          </div>
        <% end %>
      </div>
      <div style="">
        <div class="row-fluid">
          <% @visitors.each_with_index do |x,index| %>
          <div class="visitor col-md-3" id="visitor_<%= x.number %>" style="background-color:#ebf0fa;border:4px solid #f8f8f8">
            <%= index+1 %>
            <div class="row-fluid">
                <button id="correct_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">答對</button>
                <button id="continue_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">繼續寫</button>
                <button id="start_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">Start</button>
                <button id="stop_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">Stop</button>
            </div>
              <!--
              <div class="col-md-1">
               <input type="checkbox" name="gamer" value="<%= x.number %>"/> 
              </div>
              -->
            <div class="row">
              <div class="col-md-3">
                <div id="photo_<%= x.number %>"><%= render_gamer_photo(x,"thumb",50,50) %></div>
                <p><%= x.name %></p>
                <span id="status_<%= x.number %>" class="label label-danger">OffLine</span>
                <span>剩餘:</span><span id="second_<%= x.number %>" style="color:red font-size:12px;" class="badge"><%= @second %>秒</span>
                <span>答對:</span><span id="no_correct_<%= x.number %>" class="badge">0題</span>
              </div>
              <div class="col-md-6">
                <canvas id="origin_<%= x.number %>" class="orgincanvas" style="z-index:1"></canvas>
                <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
                <img id="no_<%= x.number %>" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
              </div>
            </div>
            <div class="row-fluid">
              <button id="out_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">淘汰</button>
              <button id="remove_O_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">清除圈圈</button>
              <button id="remove_writing_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">清除筆跡</button>
              <button id="zoom_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">放大</button>
            </div>

          </div>
          <% end %>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <!-- <input type="checkbox" id="allGamer"/>全選 -->
            <button id="reset_time_button" style="font-size:20px;">重設時間</button>
            <!-- <button id="out_button" style="font-size:20px;">淘汰</button> -->
            <!-- <button id="start_button" style="font-size:20px;">Start</button> -->
            <button id="stop_all_button" style="font-size:20px;">全部停止</button>
            <button id="next_button" style="font-size:20px;">下一位</button>
          </div>
        </div>
      </div>

      <% content_for :javascripts do %>
      
      <script>
      document.write('<script src="//'+ location.hostname + ':5001/socket.io/socket.io.js">\x3C/script>');
      </script>

      <script>
      // cache stage name for server1-tvwall.js
      window.stageName = '<%= @stage %>';
      window.pageType = "console";  // type: console, client, tv
      window.counting = <%= @counting == '1' %>;
      window.hasCounter = window.stageName == 'A1';
      <% if @second.to_i > 0 %>
      window.timeRemaining = <%= @second %>;
      <% end %>

      </script>

      <%= javascript_include_tag 'socketevent-generator' %>
      <%= javascript_include_tag 'commons' %>
      <%= javascript_include_tag 'action-definition' %>
      <%= javascript_include_tag 'view-definition' %>
      <%= javascript_include_tag 'socketevent-hooker' %>

      
      <script>

      // var receiveIsConnectedHandler = function(o){
      //   var x = o.check_id;
      //   if (o.connected){
      //     $('#status_'+x).attr('class','label label-success').text("OnLine");
      //   }else{
      //     $('#status_'+x).attr('class','label label-danger').text("OffLine");
      //   }
      // };

      // var receiveChangeConnectionStatusHandler = function(o){
      //   for(var x in o) {
      //     if (o[x] == true){
      //       $('#status_'+x).attr('class','label label-success').text("OnLine");
      //     }else{
      //       $('#status_'+x).attr('class','label label-danger').text("OffLine");
      //     }
      //   }
      // }

      // //Gamer send submit
      // var receiveSubmitHandler = function(o) {
      //   console.log(o);

      //   $('#visitor_'+o.user_id).css("background-color", "#ff0");
      //   window.chatApp.action(o.user_id,'stop');
      // };

      // //後台取消確認(尚未實作)
      // var receiveCancelSubmitHandler = function(o){
      //   $('#origin_'+o.user_id).removeClass("canvas_box_block");
      // };


      // //Show O
      // function showO(c){
      //   $("#yes_img_" + c).show();
      // }

      // //Remove O
      // function removeO(c) {
      //   console.log('removeO');
      //   $('#yes_img_'+c).hide();
      // }

      // //Gamer start to write 
      // function startSetStyle(c) {
      //   $('#visitor_'+c).css("border-color", "#4d4ddb");
      //   $('#visitor_'+c).css("background-color", "#ebf0fa");
      // }

      // //Gamer stop to write 
      // function stopSetStyle(c) {
      //   $('#visitor_'+c).css("border-color", "#f8f8f8");
      // }

      // //Gamer out
      // function outSetStyle(val) {
      //       $("#correct_button_"+val).attr("disabled", true);
      //       $("#out_button_"+val).attr("disabled", true);
      //       $("#start_button_"+val).attr("disabled", true);
      //       $("#stop_button_"+val).attr("disabled", true);
      //       $("#continue_"+val).attr("disabled", true);
      //       $("#remove_O_button_"+val).attr("disabled", true);
      //       $("#remove_writing_button_"+val).attr("disabled", true);
      //       $('#visitor_'+val).attr('style','opacity:0.2;border:4px solid #f8f8f8');
      // }

      // //Set timer
      // function resetSetStyle(key, s) {
      //   $('#second_' + key).text(s + "秒");
      // }

      // function correctCountSetStyle(o){
      //   $("#no_correct_" + o.user_id).text(o.count+"題");
      // }
      
      var tvwall = window.open("tvwall_<%= params[:stage] %>?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>&counting=<%= @counting %>","tvwallWindow","width=800, height=800");
      //window.open("record?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","recordWindow","width=800, height=800");


      $(document).ready(function() {
        // window.alarm = null;
        // var no_correct = null;

        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
      
        var gamerList = [];
        <% @visitors.each do |visitor| %>
        gamerList.push('<%= visitor.number %>');
        <% end %>
      
        View.registerCanvas(gamerList);
        View.collectGamers(gamerList);

        SocketController.triggerReset({stage: "<%= @stage %>"});
        SocketController.triggerSetGameinfoToSocket({
          game: <%= @game.id %>,
          stage: "<%= @stage %>",
          visitors: "<%= @visitors.to_json %>"
        });

        // $('[id^=continue_]').click(function(){
        //   window.chatApp.continue_write(this.value, CM('origin_'+this.value).hasTrack());
        //   window.chatApp.action(this.value, 'start');
        //   window.chatApp.cancelSubmit(this.value);
        //   //$('#visitor_'+this.value).css("background-color", "");
        // });
        
        $('[id^=continue_]').click(View.onContinueWriteClick);
        
        // *** deprecated
        // $('#allGamer').click(function(){
        //   $('[name="gamer"]').each((function(toCheck){
        //     return function(){
        //       if (this.disabled == false){
        //         this.checked = toCheck;
        //       }
        //     };
        //   })(this.checked === true));
        // });

        // $('[id^=correct_button_]').click(function(){
        //   window.chatApp.right(this.value);
        //   window.chatApp.action(this.value,'stop');
        //   if (!no_correct) no_correct = {};
        //   if (!no_correct[this.value]) {
        //     no_correct[this.value] = 1;
        //   } else {
        //     no_correct[this.value] += 1;
        //   }
        //   window.chatApp.setCorrectCount(this.value, no_correct[this.value]);
        // });

        $('[id^=correct_button_]').click(View.onCorrectClick);

        // $('[id^=remove_O_button_]').click(function(){
        //   window.chatApp.removeO(this.value);
        // });
        
        $('[id^=remove_O_button_]').click(View.onRemoveOClick);

        // $('[id^=remove_writing_button_]').click(function(){
        //   window.chatApp.clear(this.value);
        // });
        $('[id^=remove_writing_button_]').click(View.onClearClick);

        $('[id^=zoom_button_]').click(View.onZoomClick);

        // $('#reset_time_button').click(function(){
        //   //if(window.alarm) return;
        //   window.chatApp.reset({second: seconds});
        // });
        $('#reset_time_button').click(View.onSecondUpdateClick);
        $('#secondUpdate').click(View.onSecondUpdateClick);


        // $('#next_button').click(function(){
        //   // stop last user
        //   if (gamers.prev() != null) {
        //     window.chatApp.action(gamers.prev(),'stop');
        //     window.chatApp.cancelSubmit(gamers.prev());
        //   }
        //   var newgamer = gamers.next();
        //   // call old gamer to stop
        //   // call new user to clear screen
          
        //   window.chatApp.reset({second: seconds});
        //   window.chatApp.removeO(newgamer);
        //   window.chatApp.clear(newgamer);
        //   window.chatApp.action(newgamer,'start');
        //   //there is not setActive?
        //   // startSetStyle(newgamer);
        //   // startCounter(newgamer);
        // });
    
        $('#next_button').click(View.onNextQuestionClick);

        // $("[id^=out_button_]").click(function(){
        //     window.chatApp.userOut(this.value);
        // });
        
        $("[id^=out_button_]").click(View.onOutClick);

        // $('[id^=start_button_]').click(function(){
        //     window.chatApp.action(this.value,'start');
        // });
        
        $('[id^=start_button_]').click(View.onStartClick);

        // $('#stop_all_button').click(function(){
        //    if (!window.alarm) return;
        //    console.log(gamers.all());
        //    gamers.all().forEach( function(i) {
        //       console.log(i);
        //       clearInterval(window.alarm[i]);
        //       window.alarm[i] = null;
        //       window.chatApp.action(i,'stop');
        //       window.chatApp.cancelSubmit(i);
        //       //receiveSubmitHandler({user_id:i});
        //       stopSetStyle(i);
        //   });
        // });

        $('#stop_all_button').click(View.onStopAllClick);

        // $('[id^=stop_button_]').click(function(){

        //    window.chatApp.action(this.value,'stop');
        //    window.chatApp.cancelSubmit(this.value);
        //    //receiveSubmitHandler({user_id:this.value});
        // });

        $('[id^=stop_button_]').click(View.onStopClick);

        <% @visitors.each do |visitor| %>
        SocketController.triggerIsConnected({user_id:Settings.consoleUserId,check_id:<%= visitor.number %>});
        <% end %>

      });

      </script>
      <% end %>
