<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


.every_writer_box{
  float:left;
  padding-top:22%;
  width:5%;
}

.img_box{
  display:block;
  margin:0 auto;
}

.user_one{
  border:2px solid green;
  width:96px;
  height:96px;
  position:absolute;
}

.user_two{
  border:2px solid yellow;
  width:96px;
  height:96px;
  position:absolute;
}

.progress-bar {
  transition: width 0.1s;
}

</style>
<% end %>
<div id="user_one"></div>
<div id="user_two"></div>
<span id="second" style="color:red font-size:12px;" class="badge"><%= @second %>秒</span>
<div>
  <div class="every_writer_box">
    <h4 class="text-center"><%= @visitors[0].name %></h4>
    <%= render_gamer_photo(@visitors[0],"thumb",50,50,"img_box") %>
    <br>
    <button id="start_button_<%= @visitors[0].number %>" style="font-size:12px;" value="<%= @visitors[0].number %>" type="button" class="btn btn-default navbar-btn">Start</button>
    <button id="stop_button_<%= @visitors[0].number %>" style="font-size:12px;" value="<%= @visitors[0].number %>" type="button" class="btn btn-default navbar-btn">Stop</button>
  </div>
  <% alpha = "ABCDEFGHIJKL" %>
  <table id="canvasTable" style="border-collapse:separate;border-spacing:1px 0px;width:65%;float:left;table-layout:auto;">
    <tr>
      <td></td>
      <% (0..11).to_a.each do |x| %>
      <td>
        <h4><%= alpha[x] %></h4>
      </td>
      <% end %>
    </tr>
    <% (1..8).to_a.each do |x| %>
    <tr>
      <td>
        <h4><%= x %></h4>
      </td>
      <% (1..12).to_a.each do |y| %>
      <td>
        <button name="clear" value="<%= x %>,<%= y %>" type="button" class="btn btn-xs btn-default" style="position:absolute">Clear</button>
        <canvas id="origin_<%= x %>_<%= y %>" style="z-index:1;border:1px solid red"></canvas>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <div class="every_writer_box">
    <h4 class="text-center"><%= @visitors[1].name %></h4>
    <%= render_gamer_photo(@visitors[1],"thumb",50,50,"img_box") %>
    <br>
    <button id="start_button_<%= @visitors[1].number %>" style="font-size:12px;" value="<%= @visitors[1].number %>" type="button" class="btn btn-default navbar-btn">Start</button>
    <button id="stop_button_<%= @visitors[1].number %>" style="font-size:12px;" value="<%= @visitors[1].number %>" type="button" class="btn btn-default navbar-btn">Stop</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">


    <button id="next_button" style="font-size:20px;">下一位</button>
    <input id="row" type="number" value="1" />
    <input id="column" type="number" value="1" />
    <input id="showText" type="text" value="" style="width:50px;" />
    <button id="showTextButton">出題</button>
  </div>
  <div class="col-md-4">
    <div class="progress"> 
      <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      <%= @second %>s
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server_idioms' %>
<%= javascript_include_tag 'server_idioms_helpers' %>
<script>

var getOffset = function(){
  var offset = $('#canvasTable').offset();
  offset.top += 40;
  offset.left += 25;
  return offset;
}

var blockCancelOneSubmitSetStyle = function(o){
  $('#origin_'+o.block.row+'_'+o.block.column).css({
        zindex:1,
        border:"1px solid red"
      });
};

//使用者送出確認
var blockSubmitSetStyle = function(o){
  var offset = getOffset();
  $('#origin_'+o.block.row+'_'+o.block.column).css({
    border:"1px solid green",
    width:"96px",
    height:"96px",
    position:"absolute",
    top:(o.block.row-1)*101+offset.top + "px",
    left:(o.block.column-1)*96+offset.left + "px"
  });
};

//後台取消確認
var blockCancelSubmitSetStyle = function(o){
  $('#user_two').removeClass("user_two");
  for(var x=1;x<8;x++){
    for(var y=1;y<12;y++){
      var el = document.getElementById('origin_'+x+'_'+y);
      $(el).css({
        zindex:1,
        border:"1px solid red"
      });
    }
  }
};

function startCounter(thisvalue) {
  console.log(window.alarm);

  /*
  if(window.alarm && window.alarm[thisvalue]) return; 
  if (window.alarm === null) { 
    window.alarm = {};
  }

  window.alarm[thisvalue] = setInterval(function(){
    var s = parseFloat($('#second_'+thisvalue).text()).toFixed(1);
    if (s > 0){
      $('#second_'+thisvalue).text((s-0.1).toFixed(1) + "秒");
    } else {
      clearInterval(window.alarm[thisvalue]);
      window.alarm[thisvalue] = null;
    }
  },100);
  */

  if(window.alarm) return;
    var s = parseFloat($('#second').text()).toFixed(1);
    //if (s === (0.0).toFixed(1)) resetProgressBarAndTime();
    window.alarm = setInterval(function(){
      var s = parseFloat($('#second').text()).toFixed(1);
      if (s > 0){
        setProgressBarAndTime(s);
      } else {
        clearInterval(window.alarm);
        window.alarm = null;
        gamers.all().forEach(function(e){
          window.chatApp.action(e,'stop');
          //receiveSubmitHandler({user_id:e});
        });
        if(tvwall && tvwall.clearTimebar) tvwall.clearTimebar();
      }
    }, 100); 

}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("user_picture_block");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("user_picture_block");
  blockCancelSubmitSetStyle();
}

function resetProgressBarAndTime() {
    $('#progress_bar').css("width", "100%").attr("aria-valuenow","100%").text(window.timeRemaining+"s");
    console.log(window.timeRemaining);
    $('#second').text(window.timeRemaining);  
}

function setProgressBarAndTime(s) {
  var percent = 100 * (s-0.1) / window.timeRemaining;
  $('#progress_bar').css("width", percent+"%").attr('aria-valuenow', percent).text((s-0.1).toFixed(1)+"s");
  $('#second').text((s - 0.1).toFixed(1));
}

//var alarm = {};
var tvwall = window.open("tvwall_<%= params[:stage] %>?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","tvwallWindow","width=800, height=800");
//window.open("record_idioms?join_visitors_number=<%= params[:join_visitors_number] %>","recordWindow","width=800, height=800");

window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;


$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#ffffff',
    targetZoomScale: 0.035
  });
  <% (1..8).to_a.each do |x| %>
  <% (1..12).to_a.each do |y| %>
  CM.reg('origin_<%= x %>_<%= y %>');
  <% end %>
  <% end %>


  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();
  window.chatApp.reset({stage:'<%= params[:stage] %>'});

  (function collectGamers() {
    <% @visitors.each do |visitor| %>
    gamers.push('<%= visitor.number %>');
    <% end %>
  })();


  $('[id^=start_button_]').click(function(){
    resetProgressBarAndTime();
    window.chatApp.action(this.value,'start');
  });

  $('[id^=stop_button_]').click(function(){

   window.chatApp.action(this.value,'stop');
     //receiveSubmitHandler({user_id:this.value});
   });

  $('#next_button').click(function(){
    // stop last user
    if (gamers.prev() != null) {
      window.chatApp.action(gamers.prev(),'stop');
    }
    var newgamer = gamers.next();
    // call old gamer to stop
    // call new user to clear screen
    resetProgressBarAndTime();
    window.chatApp.action(newgamer,'start');
    //there is not setActive?
    // startSetStyle(newgamer);
    // startCounter(newgamer);
  });

  $('[name^=clear]').click(function(){

    var xy = this.value.split(',');
    var block = { row: xy[0], column:xy[1] };

    window.chatApp.clear(0,block); 
  });

  $('#showTextButton').click(function(){

    window.chatApp.sendText($('#showText').val(),{row: $('#row').val(), column:$('#column').val()});

  });

});
</script>
<% end %>
