      <div class="jumbotron">
        <h2>一字千金 操作後台</h2>
<!--         <h4>目前上線人數<span id="user_count">0</span>人</h4>
 -->        <% if !@second.nil?  %>
          <h3>倒數計時 <span id="second" style="color:red"><%= @second %></span> 秒 </h3>
        <% else %>
          <h4>不倒數計時</h4>
        <% end %>
      </div>
      <div style="">
        <div id="gamers_div" class="row">
          <% @visitors.each do |x| %>
          <div class="visitor col-md-3" id="visitor_<%= x.number %>" style="border:2px solid #f8f8f8">
          <div class="row">
            <div class="container" style="margin:auto; width:72%">
                <button id="correct_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">答對</button>
                <button id="out_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">淘汰</button>
                <button id="start_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">開始</button>
                <button id="stop_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">停止</button>
            </div>
            <!--
            <div class="col-md-1">
              <input type="checkbox" name="gamer" value="<%= x.number %>"/>

            </div>
            -->
            <div class="col-md-3">
              <%= render_gamer_photo(x,"thumb",50,50) %>
              <p><%= x.name %></p>
              <span>答對:</span><span id="no_correct_<%= x.number %>" class="badge">0題</span>
              <!-- <span>正確:</span><span id="answer_correct_<%= x.number %>">?</span> -->
            </div>
            <div class="col-md-6">
              <canvas id="origin_<%= x.number %>" class="orgincanvas" style="z-index:1"></canvas>
              <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
              <img id="no_<%= x.number %>" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
            </div>
          </div>
          </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!--
            <input type="checkbox" id="allGamer"/>全選
            <button id="yes_button" style="font-size:15px;">答對</button>
            <button id="out_button" style="font-size:15px;">淘汰</button>
            -->
            <button id="show_correct_button" style="font-size:15px;">顯示正確使用者</button>
            <button id="start_button" style="font-size:15px;">全部開始</button>
            <!-- <button id="stop_button" style="font-size:15px;">停止已選</button> -->
            <button id="clear_button" style="font-size:15px;">全部清除</button>
            <button id="clear_correct_button" style="font-size:15px;">清空答題記錄</button>
          </div>
          <div class="col-md-4">
            <div class="progress"> 
              <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <%= @second %>s
              </div>
            </div>
          </div>
        </div>
      </div>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'server' %>
      <%= javascript_include_tag 'server1-tvwall' %>
      <script>

      var no_correct = null;
      var correct_users = null;

      var receiveSubmitHandler = function(o){
        $('#visitor_'+o.user_id).css("background-color", "#e6e6f0");
      };

      function startHandler(i) {
        $('#visitor_'+i).css("background-color", "#f8f8f8");
      }

      function startSetStyle(c) {
        $('#visitor_'+c).css("border-color", "#4d4ddb");
      }

      function stopSetStyle(c) {
        $('#visitor_'+c).css("border-color", "#f8f8f8");
      }

      var receiveCorrectUsersHandler = function(){}


      window.timeRemaining = parseInt(<%= @second %>);
      window.alarm = null;
      window.open("tvwall_<%= params[:stage] %>?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","tvwallWindow","width=800, height=800");
      window.open("record?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","recordWindow","width=800, height=800");



      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        <% @visitors.each do |visitor| %>
        CM.reg('origin_<%= visitor.number %>');
        <% end %>

        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();
        window.chatApp.reset();

        var afterAction = function(property){
          var array = [];
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              $('#visitor_'+this.value).css("background-color", "");
              array.push(this.value);
              this.checked = false;
            }
          });


          $('#second').text(window.timeRemaining);
          $('#allGamer').attr('checked',false);

          return array;
        }

        $('#allGamer').click(function(){
          $('[name="gamer"]').each((function(toCheck){
            return function(){
              if (this.disabled == false){
                this.checked = toCheck;
              }
            };
          })(this.checked === true));
        });


        $('#clear_button').click(function(){
            window.chatApp.clearAll();
          $('[id^=origin_]').each(function(){
            CM(this).clear();
          });
          $('[id^=yes_img_]').hide();
          //$('[id^=answer_correct_]').text("?").css("color","");
          $('[id^=correct_button_]').removeClass("btn-success");
          $('#progress_bar').css("width", "100%").attr("aria-valuenow","100%")
                            .text(window.timeRemaining+"s");
          gamers.all().forEach(function(e){
            $('#visitor_'+e).css("background-color", "");
            stopSetStyle(e);
          });
          correct_users = null;
        });




        /*
        $('#clear_button').click(function() {
            $('[name="gamer"]').each(function() {
               // window.chatApp.clear(this.value);
            }
        });
        */
          var gamers = {
            gamersList : [],
            last: null,
            next : function() {
                var newgamer = this.gamersList.shift();
                this.gamersList.push(newgamer);
                this.last = newgamer;
                return newgamer;
            },
            prev: function() {
                return this.last;
            },
            push : function(i) {
              this.gamersList.push(i);
            }, 
            remove : function(i) {
              var idx = this.gamersList.indexOf(i);
              if (idx > -1) {
                  this.gamersList.splice(idx, 1);
              }
            },

            all: function() {
              return this.gamersList.slice(0);
            },

            setActive: function(i) {
              this.last = i;
              var idx = this.gamersList.indexOf(i);
              var head = this.gamersList.splice(0, idx);
              this.gamersList = this.gamersList.concat(head);
            }
        };

        var collectGamers = function() {
           <% @visitors.each do |visitor| %>
           gamers.push('<%= visitor.number %>');
           <% end %>
        }
        collectGamers();

        $('#out_button').click(function(){
          $('[name="gamer"]').each(function(){
            if (this.checked) {
              CM.unreg('origin_'+this.value);
              gamers.remove(this.value);
              this.disabled = true;
            }
          });
          var array = afterAction(this);
          for (var x in array){
            $('#visitor_'+array[x]).attr('style','opacity:0.2');
          }
          //alert("outer:"+array);
        });

        $("[id^=out_button_]").click(function(){
            CM.unreg('origin_'+this.value);
            //this.disabled = true;
            $("#correct_button_"+this.value).attr("disabled", true);
            $("#out_button_"+this.value).attr("disabled", true);
            $("#start_button_"+this.value).attr("disabled", true);
            $("#stop_button_"+this.value).attr("disabled", true);

            gamers.remove(this.value);
            this.disabled = true;
            $('#visitor_'+this.value).attr('style','opacity:0.2;border:2px solid #f8f8f8');
        });

        $('#start_button').click(function(){
          
          if(window.alarm) return;
          gamers.all().forEach(function(u){
            startHandler(u);
            window.chatApp.action(u, 'start');
            $('#visitor_'+this.value).css("background-color", "");
            startSetStyle(u);
          });

          if ($('#second').text() != ''){
            window.alarm = setInterval(function(){
              var s = parseFloat($('#second').text()).toFixed(1);
                if (s > 0){
                  //console.log(s);
                  var percent = 100 * (s-0.1) / window.timeRemaining;
                  $('#progress_bar').css("width", percent+"%").attr('aria-valuenow', percent)
                  .text((s-0.1).toFixed(1)+"s");
                  console.log(s);
                  $('#second').text((s - 0.1).toFixed(1));
                } else {
                  clearInterval(window.alarm);
                  window.alarm = null;
                  gamers.all().forEach(function(e){
                  window.chatApp.action(e,'stop');
                  stopSetStyle(e);
                  receiveSubmitHandler({user_id:e});
                  });
                  $('#second').text(window.timeRemaining);
                  var array = afterAction(this);
                //alert("stop:"+array);
              }
            },100);
          }
          //var array = afterAction(this);
          //alert("start:"+array);
        });

        var startCounter = function(thisvalue) {
               if(window.alarm) return;
               $('#progress_bar').css("width", "100%").attr("aria-valuenow","100%")
                            .text(window.timeRemaining+"s");
               window.alarm = setInterval(function(){
                var s = parseFloat($('#second').text()).toFixed(1);
                if (s > 0){
                  //console.log(s);
                  var percent = 100 * (s-0.1) / window.timeRemaining;
                  $('#progress_bar').css("width", percent+"%").attr('aria-valuenow', percent)
                  .text((s-0.1).toFixed(1)+"s");
                  $('#second').text((s - 0.1).toFixed(1));
                } else {
                  clearInterval(window.alarm);
                  window.alarm = null;
                  window.chatApp.action(thisvalue,'stop');
                  stopSetStyle(thisvalue);
                  $('#second').text(window.timeRemaining);
                  receiveSubmitHandler({user_id:thisvalue});
             }
              },100); 
            };

        $('[id^=start_button_]').click(function(){
            window.chatApp.action(this.value,'start');
            $('#visitor_'+this.value).css("background-color", "");
            //console.log(this.value);
            startSetStyle(this.value);
            startCounter(this.value);
        });

         $('#stop_button').click(function(){
           
           clearInterval(window.alarm);
              window.alarm = null;
              $('[name="gamer"]').each(function(){
                if (this.checked) {
                  window.chatApp.action(this.value,'stop');
                  receiveSubmitHandler({user_id:this.value});
                }
              });
              var array = afterAction(this);
         });

         $('[id^=stop_button_]').click(function(){
           clearInterval(window.alarm);
           window.alarm = null;
           window.chatApp.action(this.value,'stop');
           stopSetStyle(this.value);
           //receiveSubmitHandler({user_id:this.value});
         });

         $('[id^=correct_button_]').click(function(){
          if (!no_correct) no_correct = {};
          if (!correct_users) correct_users = [];
          $(this).addClass("btn-success");
          if (correct_users.indexOf(this.value) != -1) return;

          correct_users.push(this.value);
          console.log(correct_users);
          if (!no_correct[this.value]) {
            no_correct[this.value] = 1;
          } else {
            no_correct[this.value] += 1;
          }
          $("#no_correct_" + this.value).text(no_correct[this.value]+"題");
          window.chatApp.setCorrectCount(this.value, no_correct[this.value]);
         });

         $('#show_correct_button').click(function(){
            showCorrectUsers(correct_users);
            window.chatApp.showCorrectUsers(correct_users);
         });

         
         $('#clear_correct_button').click(function(){
          if (!no_correct) return;
          gamers.all().forEach(function(e) {
            no_correct[e] = 0;
            $("#no_correct_" + e).text(no_correct[e]+"題");
          });
         });


      });
      </script>
      <% end %>
