<% content_for :stylesheets do %>
<style type="text/css">

.progress-bar {
  transition: width 0.1s;
}

progress{
  /*background-color: #f3f3f3;
  border: 0;
  width: 240px;
  height: 20px;
  border-radius: 10px;
  vertical-align: middle;
  margin: 0 8px;*/
}
progress::-webkit-progress-bar {  
    /* style rules */  
    /*background: #f3f3f3;
    box-shadow: 0px 0px 8px #a0a0a0 inset;
    border-radius: 10px;*/
}  
progress::-webkit-progress-value {  
    /* style rules */  
    /*background: #6666ee;
    border-radius: 10px;*/
} 

.visitor  {
  width: 16.6%;
  height: 20%
}
.container{
  width: 97% !important;
}
</style>
<% end %>
      <div class="jumbotron">
        <h2>一字千金 操作後台</h2>
<!--         <h4>目前上線人數<span id="user_count">0</span>人</h4>
 -->    
        <h3>倒數計時 <span id="second" style="color:red"><%= @second %></span> 秒 </h3>
        <div style="padding:5px;">
          <input id="secondInput" value="<%= @second %>" style="width:60px;" />
          <button id="secondUpdate">更新秒數</button>
        </div>
        
      </div>
      <div style="">
        <div id="gamers_div" class="row">
          <% @visitors.each_with_index do |x,index| %>
          <div class="visitor col-md-3" id="visitor_<%= x.number %>" style="background-color:#ebf0fa; border:3px solid #f8f8f8">
          <div class="row">
            <%= index+1 %>
            <div class="row-fluid" style="margin:auto; width:72%">
                <button id="correct_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">答對</button>
                <button id="continue_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">繼續寫</button>
                
                <!-- <button id="start_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">開始</button>
                <button id="stop_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">停止</button> -->
                <button id="zoom_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">放大</button>
                
            </div>
            <!--
            <div class="col-md-1">
              <input type="checkbox" name="gamer" value="<%= x.number %>"/>

            </div>
            -->
            <div class="row">
            <div class="col-md-3">
                <%= render_gamer_photo(x,"thumb",50,50) %>
                <p><%= x.name %></p>
                <span id="status_<%= x.number %>" class="label label-danger">OffLine</span>
                <% if @counting == '1' %>
                <span>答對:</span><span id="no_correct_<%= x.number %>" class="badge">0題</span>
                <% end -%>
                <!-- <span>正確:</span><span id="answer_correct_<%= x.number %>">?</span> -->
              </div>
              <div class="col-md-6">
                <canvas id="origin_<%= x.number %>" class="orgincanvas" style="z-index:1"></canvas>
                <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
                <img id="no_<%= x.number %>" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
              </div>
            </div>
            <div class="row-fluid" style="margin:auto; width:72%">
              <button id="out_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="btn btn-default navbar-btn">淘汰</button>

              
              <button id="remove_O_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">清除圈圈</button>
              <% if @counting == '1' %>
              <button id="minus_one_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">扣一分</button>
              <% end -%>
              
              <!-- <button id="remove_writing_button_<%= x.number %>" style="font-size:12px;" value="<%= x.number %>" type="button" class="correct_button btn btn-default navbar-btn">清除筆跡</button> -->
              
            </div>
          </div>
          </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-md-6">
            <!--
            <input type="checkbox" id="allGamer"/>全選
            <button id="yes_button" style="font-size:15px;">答對</button>
            <button id="out_button" style="font-size:15px;">淘汰</button>
            -->
           
            <button id="show_correct_button" style="font-size:15px;">顯示正確使用者</button>
            
            <button id="start_button" style="font-size:15px;">全部開始</button>

            <button id="stop_all_button" style="font-size:15px;">全部停止</button>
            
            <!-- <button id="stop_button" style="font-size:15px;">停止已選</button> -->
          
            <button id="clear_button" style="font-size:15px;">全部清除</button>
            <button id="next_question_button" style="font-size:15px;">下一題</button>
            <!-- <button id="clear_correct_button" style="font-size:15px;">清空答題記錄</button> -->
          </div>
          
          <div class="col-md-4">
            <div class="progress"> 
              <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              <%= @second %>s
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <% content_for :javascripts do %>
      
      <script>
      document.write('<script src="//'+ location.hostname + ':5001/socket.io/socket.io.js">\x3C/script>');
      </script>

      <script>
      // cache stage name for server1-tvwall.js
      window.stageName = 'A1';
      window.pageType = "console";  // type: console, client, tv
      window.counting = <%= @counting == '1' %>;
      window.hasCounter = window.stageName == 'A1';
      <% if @second.to_i > 0 %>
      window.timeRemaining = <%= @second %>;
      <% end %>
        
      </script>

      <%= javascript_include_tag 'socketevent-generator' %>
      <%= javascript_include_tag 'commons' %>
      <%= javascript_include_tag 'action-definition' %>
      <%= javascript_include_tag 'view-definition' %>
      <%= javascript_include_tag 'socketevent-hooker' %>

      <script>

      // var tvwall = window.open("tvwall_<%= params[:stage] %>?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>&counting=<%= @counting %>","tvwallWindow","width=800, height=800");

      //window.open("record?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","recordWindow","width=800, height=800");
      //window.open("record?join_visitors_number=<%= params[:join_visitors_number] %>&second=<%= @second %>","_blank","width=800, height=800");

      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        // <% @visitors.each do |visitor| %>
        // CM.reg('origin_<%= visitor.number %>');
        // <% end %>
        var gamerList = [];
        <% @visitors.each do |visitor| %>
        gamerList.push('<%= visitor.number %>');
        <% end %>
      
        View.registerCanvas(gamerList);
        View.collectGamers(gamerList);

        // initialize SocketInfo
        // window.chatApp = new ChatApp(500,500,'0');
        // window.chatApp.bindEvents();

        SocketController.triggerReset({stage:'A1'});
        SocketController.triggerSetGameinfoToSocket({
          game: <%= @game.id %>,
          stage: "A1",
          visitors: "<%= @visitors.to_json %>"
        });

        $('[id^=continue_]').click(View.onContinueWriteClick);

        $('#clear_button').click(View.onClearAllClick);

        $("[id^=out_button_]").click(View.onOutClick);

        $('#start_button').click(View.onStartAllClick);

        $('[id^=start_button_]').click(View.onStartClick);
        
        $('[id^=stop_button_]').click(View.onStopClick);

        $('#stop_all_button').click(View.onStopAllClick);
        
        $('[id^=correct_button_]').click(View.onCorrectClick);
        
        $('[id^=remove_O_button_]').click(View.onRemoveOClick)

        $('[id^=minus_one_button_]').click(View.onMinusOneClick);

        $('[id^=remove_writing_button_]').click(View.onClearClick);

        $('[id^=zoom_button_]').click(View.onZoomClick);

        $('#show_correct_button').click(View.onShowCorrectClick);

        $('#secondUpdate').click(View.onSecondUpdateClick);

        $('#next_question_button').click(View.onNextQuestionClick);

        <% @visitors.each do |visitor| %>
        SocketController.triggerIsConnected({user_id:Settings.consoleUserId,check_id:<%= visitor.number %>});
        // window.chatApp.is_connected(<%= visitor.number %>);
        <% end %>

      });

      </script>
      <% end %>
