<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁",'/',class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game N</h1>
    <h2>參賽人員列表</h2>
    <%= link_to "新增人員",new_game_visitor_path(@game),class: "btn btn-lg btn-info"  %>
    <%= link_to "轉檔頁面", convert_page_game_path(@game), class: "btn btn-lg btn-success pull-right" %>  
  </p>
    <% if @visitors.present? %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>代號</th>
          <th>加入比賽</th> 
          <th>照片</th>
          <th>代表單位(ex.某某國小)</th>
          <th>名字</th>
          <th></th>  
        </tr>
      </thead>
      <tbody>

        <% @visitors.each do |v| %>
        <tr>
          <td><%= v.number %></td>
          <td><input type="checkbox" name="joinGame" value="<%= v.number %>" /></td>
          <td><%= render_visitor_photo(v.image,"thumb") %></td>
          <td><%= v.title %></td>
          <td><%= v.name %></td>
          <td><%= link_to "update",edit_game_visitor_path(@game,v),class:"btn btn-warning" %> </td>
        </tr>
        <% end %>

        <tr>
          <td></td>
          <td><input type="checkbox" id="allJoinGame" />全選</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <% else %>
    尚無參賽人員
    <% end %>
    <br>
    <%= link_to "明星藝言堂 (10人)","#",id: "stageA1",class: "btn btn-lg btn-success"  %>
    <%= link_to "計時接力賽 (5人)","#",id: "stageA2",class: "btn btn-lg btn-success"  %>
    <%= link_to "一字千金 (2人)","#",id: "stageA3",class: "btn btn-lg btn-success"  %>
    <%= link_to "捉對廝殺 (8人，每次2人)","#",id: "stageB1",class: "btn btn-lg btn-info"  %>
    <%= link_to "掌握先機 (4人)","#",id: "stageB2",class: "btn btn-lg btn-info"  %>
    <%= link_to "成語連連看 (2人)","#",id: "stageB3",class: "btn btn-lg btn-info"  %>
    <%= link_to "掌握先機(舊版) (4人)","#",id: "stageB2_v1",class: "btn btn-lg btn-warning"  %>
    <%= link_to "多人連線 (10~40人)","#",id: "stage_multi",class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function(){

  document.getElementById('allJoinGame').onchange = function(event){
    var checkboxes = document.getElementsByName('joinGame');

    for (var i = 0; i < checkboxes.length; i++){
      checkboxes[i].checked = this.checked;
    }
  };

  var getVisitorsNumberArray = function(e){
    e.preventDefault();
    var checkboxes = document.getElementsByName('joinGame');

    var join_visitors_number = [];
    for (var i = 0; i < checkboxes.length; i++){
      if(checkboxes[i].checked){
        join_visitors_number.push(checkboxes[i].value);
      }
    }

    return join_visitors_number;
  } 

  document.getElementById('stageA1').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);
    
    location.href = '/games/<%= @game.id %>/stage1?stage=A1&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageA2').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage2?stage=A2&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageA3').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage1?stage=A3&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageB1').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage1?stage=B1&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageB2').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stageB2?stage=B2&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageB3').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage_idioms?stage=B3&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stageB2_v1').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage1?stage=B2_v1&join_visitors_number=' + join_visitors_number;
  }

  document.getElementById('stage_multi').onclick = function(e){

    var join_visitors_number = getVisitorsNumberArray(e);

    location.href = '/games/<%= @game.id %>/stage_multi?stage=multi&join_visitors_number=' + join_visitors_number;
  }
});
</script>
<% end %>
