<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁",game_path(@game),class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game <%= @game.id %> > Stage <%= @stage %></h1>
    <h2>規則</h2>
    <h3>使用者畫面上顯示秒數</h3>
    <h3>使用者個別書寫</h3>
    <h3>限時 <input id="second" type="number"/> 秒</h3>
    <% if params[:stage] == 'C3' %>
    <h4>*** 前台畫面上不顯示秒數；秒數設定多一點可達到類似無限時間的效果 ***</h4>
    <% end %>
    <h3> <input id="counting" type="checkbox" /> 計分</h3>
    <%= link_to "確認","#",id: "confirm", class: "btn btn-lg btn-success"  %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function(){

  document.getElementById('confirm').onclick = function(e){
    e.preventDefault();
    var second = document.getElementById('second');
    var counting = document.getElementById('counting');
    location.href = '/games/<%= @game.id %>/server2?stage=<%= params[:stage] %>&join_visitors_number=<%= @join_visitors_number %>&second='+second.value+('&counting=' + (counting.checked? '1': '0'));
  }
});
</script>
<% end %>