<div class="row">
  <div class="col-md-12">
    <%= link_to "回上一頁",game_path(@game),class: "btn btn-lg btn-warning"  %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Game <%= @game.id %> > Stage <%= @stage %></h1>
    <h2>規則</h2>
    <h3>使用者可同時做答</h3>
    <h3>使用者最多可以寫 <input id="blocks" value="4" type="number" min="1" max="5"/> 個字</h3>
    <% if @locking %>
    <h3>使用者確認送出之後，所有其他使用者皆停止書寫</h3>
    <input id="locking" type="hidden" value="1" />
    <% else %>
    <h3>限時 <input id="second" type="number" value="60" /> 秒</h3>
    <% end %>
    <h3> <input id="counting" type="checkbox" /> 計分</h3>
    <h3>前台多字合併顯示</h3>
    <%= link_to "確認","#",id: "confirm", class: "btn btn-lg btn-success"  %>
  </div>
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function(){

  var count = document.getElementById('counting');
  var second = document.getElementById('second');
  var blocks = document.getElementById('blocks');
  var locking = document.getElementById('locking');

  document.getElementById('confirm').onclick = function(e){
    e.preventDefault();
    var params = [];
    [count,second,blocks,locking].forEach(function(el){
      if(el && (el.checked || (el.value && !isNaN(el.value))) ){
        params.push(el.id + "=" + (isNaN(el.value)? 1 : el.value));
      }
    });
    location.href = '/games/<%= @game.id %>/server_group?stage=<%= params[:stage] %>&join_visitors_number=<%= @join_visitors_number %>&' + params.join('&');
  }
});
</script>
<% end %>