<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
}

h3,h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.block{
  opacity: 0.9;
  
  //border: 1px solid white;
  
}

.every_writer_box_down{
  float:left;
  padding-top:5%;
  width:20%;
}


.canvas_box{

  z-index:1;
  display:block;
  margin:0 auto;
}

.correct{
  display:none;
  z-index:10;
  position:absolute;
  left:120px;
  top:120px;
}

</style>
<% end %>
<div style="margin:0 7%; height:100%; padding-bottom:22%;">
  <% visitors_size = @visitors.size %>
  <% (1..visitors_size/2).each do |x| %>
  <div class="visitor block every_writer_box_down" style="padding:1.5% 2% 1% 2%;">
    <% visitor = @visitors.find_by(number: (x-1)*2 + 1) %>
    <div style="width:85%;margin:2% auto;" id="visitor_<%= visitor.number %>">
      <%= render_gamer_photo(visitor.image,"medium",40,40,"") %>
      <h4 style="display:inline;"><%= visitor.name %></h4>
    </div>
    <div style="position:relative;">
      <canvas id="origin_<%= visitor.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_<%= visitor.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>


    <% visitor = @visitors.find_by(number: (x-1)*2 + 2) %>
    <div style="width:85%;margin:2% auto;" id="visitor_<%= visitor.number %>">
      <%= render_gamer_photo(visitor.image,"medium",40,40,"") %>
      <h4 style="display:inline;"><%= visitor.name %></h4>
    </div>

    <div style="position:relative;">
      <canvas id="origin_<%= visitor.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= visitor.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>

  </div>
  <% end %>

</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server' %>
<script>

var receiveSubmitHandler = function(o){
  //$('#visitor_'+o.user_id).css("background-color", "#f0f0f0");
};
window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#ffffff',
    targetZoomScale: 0.15,
    responsiveByParent: true,
    backgroundImage: '/assets/block.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>


  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();


});
</script>
<% end %>
