<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


.every_writer_box_down{
  float:left;
  padding-top:15%;
  width:20%;
}



.correct{
  display:none;
  z-index:10;
  position:absolute;
  left:120px;
  top:120px;
}

</style>
<% end %>
<div style="margin:0 10%">
  <% @visitors.each do |x| %>
  <div class="visitor every_writer_box_down" style="padding:10% 0.5%;">
    <div style="width:80%;margin:2% auto;">
      <%= render_gamer_photo(x,"thumb",40,40,"user_picture_no_block") %>
      <h4 style="display:inline;"><%= x.name %></h4>
      <span id="second_<%= x.number %>" style="color:red font-size:12px;" class="badge"><%= @second %>秒</span>
      <span id="no_correct_<%= x.number %>" class="badge">0題</span>
      <%#= render_gamer_photo(x,"thumb",50,50) %>
    </div>
    <div style="position:relative;">
      <canvas id="origin_<%= x.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>
  </div>
  <% end %>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server2-tvwall' %>
<%= javascript_include_tag 'server' %>

<script>

//使用者送出確認
var receiveSubmitHandler = function(o){
  $('#origin_'+o.user_id).addClass("canvas_box_block");
};

//後台取消確認(尚未實作)
var receiveCancelSubmitHandler = function(o){
  $('#origin_'+o.user_id).removeClass("canvas_box_block");
};

//後台送出答對
function showO(c){
  $("#yes_img_" + c).show();
}

function removeO(c){
  $("#yes_img_" + c).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("user_picture_block");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("user_picture_block");
}

//Gamer out
function outSetStyle(val) {
  $('#origin_'+val).hide();
}

function resetSetStyle(s) {
  $('#second_' + key).text(s + "秒");
}

function correctCountSetStyle(o){
  $("#no_correct_" + o.user_id).text(o.count+"題");
}

$(document).ready(function() {

  var seconds = <%= @second %>;
  window.alarm = null;
  var no_correct = null;

  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#ffffff',
    targetZoomScale: 0.2,
    responsiveByParent: true,
    backgroundImage: '/assets/block.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>

  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();

  (function collectGamers() {
   <% @visitors.each do |visitor| %>
   gamers.push('<%= visitor.number %>');
   <% end %>
 })();


});
</script>
<% end %>