<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall' %>
<style type="text/css">
p.name{
  padding-bottom:6%;
}

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
  //width: 1600px;
  //height:1000px;
}
</style>
<% end %>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3" height="5%">&nbsp;</td>
  </tr>
  <tr>
    <td width="35%">&nbsp;</td>
    <td><div class="HP_bar" style="height:12px;"> <canvas id="sketchSecond" data-processing-sources="/assets/timebar.pde"></canvas></div></td>
    <td width="35%">&nbsp;</td>
  </tr>
  
</table>

<div class="Content"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      
      <tr>
        <td width="9%"></td>
        
        <td valign="top" width="9%">
        <div class="box_b">
            <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="nameTop">
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p class="name"><%= @visitors[0].name %></p></td>
              </tr>
              <tr>
                <td>
                <div id="user_photo_<%= @visitors[0].number %>" class="photo">
                    <%= render_gamer_photo(@visitors[0],"medium",'100%','100%','') %>
                </div>
                </td>
              </tr>
              
            </table>
        </div>
        </td>
        
        <td width="2%">&nbsp;</td>
        
        <td width="56%">
          <table class="Chessboard" width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td width="8%"><p>A</p></td>
                <td width="8%"><p>B</p></td>
                <td width="8%"><p>C</p></td>
                <td width="8%"><p>D</p></td>
                <td width="8%"><p>E</p></td>
                <td width="8%"><p>F</p></td>
                <td width="8%"><p>G</p></td>
                <td width="8%"><p>H</p></td>
                <td width="8%"><p>I</p></td>
                <td width="8%"><p>J</p></td>
                <td width="8%"><p>K</p></td>
                <td width="8%"><p>L</p></td>
              </tr>
              
    <% (1..8).to_a.each do |x| %>
    <tr>
      <td>
        <p><%= x %></p>
      </td>
      <% (1..12).to_a.each do |y| %>
      <td>
        <div id="grid_<%= x %>_<%= y %>" class="Grid bor_g">
          <div id="glow_<%= x %>_<%= y %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_g_green.png" width="100%"/></div>
        <canvas id="origin_<%= x %>_<%= y %>" width="100%" ></canvas>
        </div>
      </td>
      <% end %>
    </tr>
    <% end %>
              
            </table>
        </td>
        
        <td width="2%">&nbsp;</td>
        
        <td valign="top" width="9%">
        <div class="box_b">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="nameTop">
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><p class="name"><%= @visitors[1].name %></p></td>
              </tr>
              <tr>
                <td>
                <div class="TopBpx">
                    <div id="user_photo_<%= @visitors[1].number %>" class="photo">
                        <%= render_gamer_photo(@visitors[1],"medium",'100%','100%','') %>
                    </div>
                </div>
                </td>
              </tr>
            </table>
      </div>
        </td>
        
        <td width="13%"></td>
      </tr>
     
    </table>
</div>



<div id="user_two"></div>



<% content_for :javascripts do %>
<%= javascript_include_tag 'server_idioms_helpers' %>
<script>

var sketchSecondIns;

// overrides
var start_button = function(value){
    gamers.setActive(value);
    startSetStyle(value);
};
var stop_button = function(value){
    stopSetStyle(value);
};

var blockCancelOneSubmitSetStyle = function(o){
  $('#glow_'+o.block.row+'_'+o.block.column).hide();
};

var blockSubmitSetStyle = function(o){
  $('#glow_'+o.block.row+'_'+o.block.column).show();
};

//後台取消確認
var blockCancelSubmitSetStyle = function(o){
    for(var x=1;x<=8;x++){
      for(var y=1;y<=12;y++){
        var c = document.getElementById('glow_'+x+'_'+y);
        $(c).hide();
      }
    }
};

function clearTimebar(c){
  sketchSecondIns.clearBar();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("green");
  sketchSecondIns.resetBar();
  sketchSecondIns.doStart();
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("green");
  sketchSecondIns.doStop();
  blockCancelSubmitSetStyle();
}

window.responsiveMethod = function(){
  var jqEl = $('[id^=grid_]');

  var w = $(window).width()*0.04;
  //var w = $('.container').width()*0.04;
  jqEl.height(w);
  jqEl.width(w);
};

window.tunePosition = function(){
  var w = $('.photo').width();
  //var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', w / 3 * 14 / 15);

  var board = $('.Chessboard');
  $('.nameTop').height(board.height() / 4);

  var jqEl = $('[id^=grid_]');

  $('table.Chessboard p').css('font-size', jqEl.height() / 3 * 1.1);

};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.015,
    responsiveByParent: true,
    backgroundImage: '/assets/tvwall/img_Grid_g.gif'
  });
  <% (1..8).to_a.each do |x| %>
  <% (1..12).to_a.each do |y| %>
  CM.reg('origin_<%= x %>_<%= y %>');
  <% end %>
  <% end %>


  //window.chatApp = new ChatApp(500,500,'0');
  //window.chatApp.bindEvents();

  (function collectGamers() {
    <% @visitors.each do |visitor| %>
    gamers.push('<%= visitor.number %>');
    <% end %>
  })();

  setTimeout(function(){
    if(!sketchSecondIns){
      sketchSecondIns = Processing.getInstanceById('sketchSecond');  
    }
    var p = $(document.getElementById('sketchSecond').parentElement);
    sketchSecondIns.setSize(p.width(), p.height());
    sketchSecondIns.setSecond(<%= @second %>);
  },400);

  responsiveMethod();
  setTimeout(function(){
    tunePosition();    
  }, 100);
});
</script>
<% end %>