<%
  # NOT yet confirm
  @table_width_increase = 0
  @isCounting = @counting == '1'
  if @counting == '1' 
    @table_width_increase = 5
  end

  @name_split_height = 10
  @bar_spacing = "30"
  @space_top = "80"
  @space_left = "3%"
  @space_right = "3%"
  @space_width = (100 - 3 * 2) / @visitors.length
  @counting_padding_top = "15px"
  @canvas_scale = 0.079
  @font_formula = "w / 3 * 0.83"
  @timebar_height = "16px"
  @video_position = "80px"
  @video_position_left = "0px"
  @video_zoom = "100%"
  @grid_border = 6.5
  @td_colspan = 11
  @wrap_table_width = 72 + @table_width_increase
  @count_padding = "0.2em"
  @count_size = "3.2em"
  case @visitors.length
  when 2
    @space_left = "18%"
    @space_right = "18%"
    @space_width = (100 - 18 * 2) / @visitors.length
    @counting_padding_top = "35px"
    @count_size = "4em"
    @count_padding = "0.4em"
    @font_formula = @isCounting? "w / 3 * 0.88" : "w / 3 * 0.83"
    # @canvas_scale = 0.075
    @wrap_table_width = 70 + @table_width_increase
    @grid_border = 8
    @split_width = "8%"
    @video_position = "100px"
  when 3
    @space_left = "12%"
    @space_right = "12%"
    @space_width = (100 - 12 * 2) / @visitors.length
    @counting_padding_top = "24px"
    @count_size = "4em"
    @count_padding = "0.4em"
    @font_formula = @isCounting? "w / 3 * 0.88" : "w / 3 * 0.83"
    # @canvas_scale = 0.075
    @wrap_table_width = 75 + @table_width_increase
    @grid_border = 8
    @split_width = "8%"
    @video_position = "100px"
  when 4
    @count_size = "3.8em"
    @count_padding = "0.3em"
    @font_formula = "w / 3 * 0.88"
    # @canvas_scale = 0.075
    @wrap_table_width = 72 + @table_width_increase
    @grid_border = 7
    @split_width = "6%"
    @video_position = "100px"
  when 6
    @count_size = "3em"
    @font_formula = "w / 3 * 0.88"
    # @canvas_scale = 0.075
    @grid_border = 6
    @name_split_height = 12
    @wrap_table_width = 79 + @table_width_increase
    @split_width = "4%"
    @video_position = "100px"
  end

  @grid_style = "border-radius:" + (@grid_border * 7 / 5).to_s + "px;box-shadow:0px 0px " + (@grid_border * 3).to_s + "px " + @grid_border.to_s + "px rgba(75,217,255,0.7),inset 0px 0px " + @grid_border.to_s + "px " + (@grid_border * 3 / 5).to_s + "px rgba(75,217,255,0.6);"
  @grid_bor_g_style = "box-shadow:0px 0px " + (@grid_border * 3).to_s + "px " + @grid_border.to_s + "px rgba(255,0,12,0.7),inset 0px 0px " + @grid_border.to_s + "px " + (@grid_border * 3 / 5).to_s + "px rgba(255,0,12,0.6);"

%>

<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall-new' %>
<style type="text/css">
p{
  padding-top:5%;
}

body,.container{
  /*background-color: #000000;*/
  width: 100%;
  height:100%;
  overflow:hidden;
  /*width:1920px;
  height:1080px;*/
}

.Content .box_a .Grid{ 
  border:<%= @grid_border %>px solid #fff; 
  <%= @grid_style %>
}
.Content .box_a .bor_g{ 
  border:<%= @grid_border %>px solid #ff000c; 
  <%= @grid_bor_g_style %>
}

</style>
<% end %>

<% if @second.to_i > 0 %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3" height="<%= @space_top %>">&nbsp;</td>
  </tr>
  <tr>
    <td width="32%">&nbsp;</td>
    <td>
    <!-- <div class="HP_bar" style="height:<%= @timebar_height %>;"><canvas id="sketchSecond" data-processing-sources="/assets/timebar.pde"></canvas></div></div> -->
    <div class="HP_bar" style="height:<%= @timebar_height %>;"> 
      <div id="sketchSecond" class="HP_bar_inner" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      </div>
    </div>
    </td>
    <td width="33%">&nbsp;</td>
  </tr>  
</table>
<% end %>

<% if @visitors.length >= 2 and @visitors.length <= 6 %>
<div class="Content">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <% if @second.to_i > 0 %>
        <td colspan="11" height="<%= @bar_spacing %>">&nbsp;</td>
      <% else %>
        <td colspan="11" height="<%= @space_top %>">&nbsp;</td>
      <% end %>
    </tr>
    <tr>
      <td width="<%= @space_left %>"></td>
      <% @visitors.each do |visitor| %>
      <td width="<%= @space_width %>%">
        <div class="box_a">
          <!-- <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div> -->
          <table border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; width: <%= @wrap_table_width %>%;">
            <tr>
              <td>
                <div class="TopBpx">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                  </div>
                  <% if @counting == '1' %>
                  <div class="nameBox br_line01">
                  <% else %>
                  <div class="nameBox">
                  <% end %>
                    <% if visitor.title.to_s != '' %>
                    <p class="name"><%= visitor.title %></p>
                    <% else %>
                    <p class="name">&nbsp;</p>
                    <% end %>
                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <% if @counting == '1' %>
                  <div class="answer10" style="padding:<%= @counting_padding_top %> 0 5px 10px;">
                  <span id="no_correct_<%= visitor.number %>" width="100%" class="label" style="opacity:0;font-size:<%= @count_size %>;padding:<%= @count_padding %>;">0</span></div>
                  <% end %>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr><td height="<%= @name_split_height %>"></td></tr>
            <tr>
              <td>
                <div class="groupMix GridMix">
                  <div id="grid_<%= visitor.number %>" class="Grid">
                    <table style="table-layout:fixed;">
                      <% (1..@blocks.to_i).to_a.each do |b| %>
                      <tr>
                        <td class="canvas-wrap-<%= visitor.number %>-<%= b %>" style="padding:0">
                          <canvas id="origin_<%= visitor.number %>_<%= b %>" width="100%" ></canvas>
                        </td>
                      </tr>
                      <% end %>
                    </table>
                    <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                  </div>
                  <div id="out_<%= visitor.number %>" class="out">
                    <img src="/assets/tvwall/out_s.png" width="100%"/>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <% end %>
      <td width="<%= @space_right %>"></td>
    </tr>
  </table>
</div>
<% end %>

<% content_for :javascripts do %>
<script>
document.write('<script src="//'+ location.hostname + ':5001/socket.io/socket.io.js">\x3C/script>');
</script>
<script>
// cache stage name for server1-tvwall.js
window.stageName = 'group';
window.pageType = "tv";  // type: console, client, tv
window.counting = <%= @counting == '1' %>;
<% if @second.to_i > 0 %>
window.timeRemaining = <%= @second %>;
<% end %>

window.borderWidth = <%= @grid_border %>;
window.totalBlocks = <%= @blocks %>;

</script>

<%= javascript_include_tag 'socketevent-generator' %>
<%= javascript_include_tag 'commons' %>
<%= javascript_include_tag 'action-definition' %>
<%= javascript_include_tag 'view-definition' %>
<%= javascript_include_tag 'socketevent-hooker' %>

<script>

window.responsiveMethod = function(){
  var jqGridEl = $('[id^=grid_]');
  var w = $(window).width() * <%= @canvas_scale %>;
  // var w = $(".container").width() * <%= @canvas_scale %>;
  var outEl = $('[id^=out_]');
  // var zoomEl = $('.Zoom');
  // var zoomInnerEl = $('.Zoom-inner');
  // var zoomSize = $(window).height() * 0.75;
  // var zoomScale = zoomSize / w;
  // var borderWidth = <%= @grid_border %> * zoomScale;

  w = Math.round(w);
  h = w * window.totalBlocks;
  $('[id^=yes_img_]')
    .width(w * 0.46)
    .css("bottom", -(w * 0.16) ); // because of in css: right:-16%;

  // jqGridEl.height(h);
  jqGridEl.width(w);
  outEl.width(jqGridEl.outerWidth());

  // tune left top
  var gridParent = jqGridEl.parent();

  outEl.css("left", ( gridParent.width() - outEl.width() ) / 2 );
  setTimeout(function(){
    outEl.css("top", ( gridParent.height() - outEl.height() ) / 2 );
  }, 800);

  // zoomEl.width(zoomSize).height(zoomSize);
  // zoomInnerEl.width(zoomSize).height(zoomSize);
  // zoomInnerEl.css("border", borderWidth + "px solid #fff")
  //   .css("border-radius", (borderWidth * 7 / 5) + "px")
  //   .css("box-shadow", "0px 0px " + (borderWidth * 3) + "px " + borderWidth + "px rgba(75,217,255,0.7),inset 0px 0px " + borderWidth + "px " + (borderWidth * 3 / 5) + "px rgba(75,217,255,0.6)");
};

window.tuneLinePosition = function(){
  var w = $('.photo').width();
  var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', <%= @font_formula %>);
  namebox.height(w);
  // 44 means picture height
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 1.8 - w / 3 / 15 * 0.2 );
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 2 - (44 - 38) / 2 );
  // namebox.css('background-position-y', bar_formula );
  //alert(w);

  $(".box_a").height($(".box_a").height());
};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {

  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#f0f0f0',
    targetZoomScale: 0.2,
    responsiveByParent: true
    // backgroundLine: '7px rgba(158,173,188,0.6)'
    //backgroundImage: '/assets/tvwall/img_Grid_b.gif'
  });

  var gamerList = [];
  <% @visitors.each do |visitor| %>
  gamerList.push('<%= visitor.number %>');
  <% end %>

  View.registerCanvas(gamerList);
  View.collectGamers(gamerList);
  View.loadSketchSecond();

  responsiveMethod();

  CM.doAllResponsive();
  setTimeout(function(){
    tuneLinePosition();    
  }, 100);

});
</script>
<% end %>

