<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall' %>
<style type="text/css">
p{
  padding-top:1.25%;
}

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
  //width:1920px;
  //height:1080px;
}
</style>
<% end %>

<div class="Content"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="11" height="<%= @space_top %>">&nbsp;</td>
    </tr>

    <tr>

      <td width="<%= @space_left %>"></td>

      <% @visitors.each do |visitor| %>
      <td>
        <div class="box_a">
          <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div class="TopBpx">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                  </div>
                  <div class="nameBox br_line02">
                    <% if(visitor.title) %>
                    <p class="name"><%= visitor.title %></p>
                    <% else %>
                    <p class="name">&nbsp;</p>
                    <% end %>
                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="grid_<%= visitor.number %>" class="Grid">
                  <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                  <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
                  <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                  <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <tr>
                  <td width="10%">&nbsp;</td>
                  <td><div class="HP_bar" style="height:<%= @timebar_height %>;"><canvas id="sketchSecond_<%= visitor.number %>" data-processing-sources="/assets/timebar.pde"></canvas></div></td>
                  <td width="10%">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td width="1%"></td>
    <% end %>

    <td width="<%= @space_right %>"></td>
  </tr>



  <tr>
    <td colspan="11" height="1%">&nbsp;</td>
  </tr>
</table>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server2-tvwall' %>


<script>

var sketchSecondIns = {};

// overrides
var start_button = function(value){
  gamers.setActive(value);
  startSetStyle(value);
  sketchSecondIns[value].doStart();
}
var stop_button = function(value){
  stopSetStyle(value);
  sketchSecondIns[value].doStop();
}
var receiveResetHandler = function(o){
  if (o.second != null) {
    gamers.all().forEach(function(e){
      resetSetStyle(e, o.second);
      sketchSecondIns[e].resetBar();
      sketchSecondIns[e].setSecond(parseInt(o.second));
    });
  }
}

//使用者送出確認
var receiveSubmitHandler = function(o){
  $('#grid_'+o.user_id).addClass("bor_g");
  $('#glow_'+o.user_id).show();
};

//後台取消確認
var receiveCancelSubmitHandler = function(o){
  $('#grid_'+o.user_id).removeClass("bor_g");
  $('#glow_'+o.user_id).hide();
};

//後台送出答對
function showO(c){
  $("#yes_img_" + c).show();
}

function removeO(c){
  $("#yes_img_" + c).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("green");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("green");
}

//Gamer out
function outSetStyle(val) {
  $('#out_'+val).show();
  $('#black_'+val).show();
  sketchSecondIns[val].clearBar();
}

function resetSetStyle(key, s) {
  $('#second_' + key).text(s + "秒");
}

function correctCountSetStyle(o){
  $("#no_correct_" + o.user_id).text(o.count+"題");
}

window.responsiveMethod = function(){
  var jqEl = $('[id^=grid_]');

  var w = $(window).width() * <%= @canvas_scale %>;
  //var w = $('.container').width() * <%= @canvas_scale %>;
  jqEl.height(w);
  jqEl.width(w);
};

window.tuneLinePosition = function(){
  var w = $('.photo').width();
  var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', <%= @font_formula %>);
  namebox.height(w);
  // 44 means picture height
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 1.8 - w / 3 / 15 * 0.2 );
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 2 - (44 - 38) / 2 );
  namebox.css('background-position-y', <%= @bar_formula %> );
  //alert(w);
};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {

  var seconds = <%= @second %>;
  window.alarm = null;
  var no_correct = null;

  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.2,
    responsiveByParent: true,
    backgroundLine: '7px rgba(255,0,0,0.6)'
    //backgroundImage: '/assets/tvwall/img_Grid_b.gif'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>

  //window.chatApp = new ChatApp(500,500,'0');
  //window.chatApp.bindEvents();

  (function collectGamers() {
   <% @visitors.each do |visitor| %>
   gamers.push('<%= visitor.number %>');
   <% end %>
 })();

 setTimeout(function(){
  gamers.all().forEach(function(e){
    if(!sketchSecondIns[e]){
      sketchSecondIns[e] = Processing.getInstanceById('sketchSecond_'+e);  
    }
    var p = $(document.getElementById('sketchSecond_'+e).parentElement);
    sketchSecondIns[e].setSize(p.width(), p.height());
    sketchSecondIns[e].setSecond(<%= @second %>);
      //stopSetStyle(e);
    });
  }, <%= @visitors.length %> * 60);

  responsiveMethod();

  var borderWidth = <%= @canvas_border %>;
  $('.Grid').css("background", "url("+ generateBorderBase64($('.Grid'), borderWidth, 
    ['0 #ffffff', '0.5 #aaaaaa', '1 #aaaaaa'] ) +
  ")");
  $('.Grid').css("padding", borderWidth);

  CM.doAllResponsive();
  setTimeout(function(){
    tuneLinePosition();    
  }, 100);

});
</script>
<% end %>