      <div class="jumbotron">
        <p>倒數計時 <span id="second" style="color:red"><%= @second %></span> 秒 </p>
      </div>
      <div style="">
        <div class="row">
          <% @visitors.each do |x| %>
          <div class="visitor col-md-3" id="visitor_<%= x.number %>">
          <div class="row">
            <div class="col-md-3">
              <%= render_gamer_photo(x.image,"thumb") %>
              <p><%= x.name %></p>
            </div>
            <div class="col-md-6">
              <canvas id="origin_<%= x.number %>" class="orgincanvas" style="z-index:1"></canvas>
              <img id="yes_<%= x.number %>" src="/assets/O-mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
              <img id="no_<%= x.number %>" src="/assets/X-Mark.png" height="150" style="display:none;z-index:10;position:absolute;right:-20px;bottom:8px;" ></img>
            </div>
          </div>
          </div>
          <% end %>
        </div>
      </div>
      <canvas id="multiple" class="orgincanvas hidden"></canvas>

      <% content_for :javascripts do %>
      <%= javascript_include_tag 'server' %>
      <script>

      var receiveSubmitHandler = function(o){
        $('#visitor_'+o.user_id).css("background-color", "#f0f0f0");
      };
      window.timeRemaining = parseInt(<%= @second %>);
      window.alarm = null;

      $(document).ready(function() {
        CM.prop({
          width: 500,
          height: 500,
          lineWidth: 15,
          lineColor: '#333333',
          targetZoomScale: 0.1,
          backgroundImage: '/assets/block-524.png'
        });
        <% @visitors.each do |visitor| %>
        CM.reg('origin_<%= visitor.number %>');
        <% end %>

        window.chatApp = new ChatApp(500,500,'0');
        window.chatApp.bindEvents();


      });
      </script>
      <% end %>