<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}


.every_writer_box_down{
  float:left;
  padding-top:15%;
  width:20%;
}



.correct{
  display:none;
  z-index:10;
  position:absolute;
  left:120px;
  top:120px;
}

</style>
<% end %>
<div style="margin:0 10%">
  <% @visitors.each do |x| %>
  <div class="visitor every_writer_box_down" style="padding:10% 0.5%;">
    <div style="width:80%;margin:2% auto;">
      <%= render_gamer_photo(x.image,"thumb",40,40) %>
      <h4 style="display:inline;"><%= x.name %></h4>
      <%#= render_gamer_photo(x.image,"thumb",50,50) %>
    </div>
    <div style="position:relative;">
      <canvas id="origin_<%= x.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>
  </div>
  <% end %>
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server' %>
<script>

var receiveSubmitHandler = function(o){
  $('#origin_'+o.user_id).addClass("canvas_box_block");
};
window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#ffffff',
    targetZoomScale: 0.2,
    responsiveByParent: true,
    backgroundImage: '/assets/block.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>

  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();


});
</script>
<% end %>