<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
}

h3,h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.every_writer_box_down{
  float:left;
  padding-top:5%;
  width:20%;
}

.correct{
  display:none;
  z-index:10;
  position:absolute;
  left:120px;
  top:120px;
}

</style>
<% end %>

<span id="second" style="color:red" class="badge"><%= @second %></span>

<div style="margin:0 7%; height:100%; padding-bottom:22%;">
  <% visitors_size = @visitors.size %>
  <% (1..visitors_size/2).each do |x| %>
  <div class="visitor every_writer_box_down" style="padding:1.5% 2% 1% 2%;">
    <% visitor = @visitors.find_by(number: (x-1)*2 + 1) %>
    <div style="width:85%;margin:2% auto;" id="visitor_<%= visitor.number %>">
      <%= render_gamer_photo(visitor,"medium",40,40,"") %>
      <h4 style="display:inline;"><%= visitor.name %></h4>
    </div>
    <div style="position:relative;">
      <canvas id="origin_<%= visitor.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= visitor.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>


    <% visitor = @visitors.find_by(number: (x-1)*2 + 2) %>
    <div style="width:85%;margin:10% auto;" id="visitor_<%= visitor.number %>">
      <%= render_gamer_photo(visitor,"medium",40,40,"") %>
      <h4 style="display:inline;"><%= visitor.name %></h4>
    </div>

    <div style="position:relative;">
      <canvas id="origin_<%= visitor.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= visitor.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>

  </div>
  <% end %>

</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server1-tvwall' %>
<%= javascript_include_tag 'server' %>
<script>

//使用者送出確認
var receiveSubmitHandler = function(o){
  $('#origin_'+o.user_id).addClass("canvas_box_block");
};

//後台取消確認(尚未實作)
var receiveCancelSubmitHandler = function(o){
  $('#origin_'+o.user_id).removeClass("canvas_box_block");
};

var receiveCorrectUsersHandler = function(users){
  showCorrectUsers(users);
}

//後台送出答對
function showO(c){
  $("#yes_img_" + c).show();
}

function removeO(c){
  $("#yes_img_" + c).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("user_picture_block");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("user_picture_block");
}

//Gamer out
function outSetStyle(val) {
  $('#origin_'+val).css("opacity", 0);
}

function resetSetStyle(s) {
  $('#second_' + key).text(s + "秒");
}

function clearSetStyle(o){
  CM('origin_'+o.user_id).clear();
}

function correctCountSetStyle(o){
  $("#no_correct_" + o.user_id).text(o.count+"題");
}


function clearAllSetStyle() {
  $('[id^=yes_img_]').hide();
  //$('[id^=answer_correct_]').text("?").css("color","");
  gamers.all().forEach(function(e){
    CM('origin_'+e).clear();
    $('#origin_'+e).removeClass("canvas_box_block");
    stopSetStyle(e);
  });
}

window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 15,
    lineColor: '#ffffff',
    targetZoomScale: 0.15,
    responsiveByParent: true,
    backgroundImage: '/assets/block.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>


  window.chatApp = new ChatApp(500,500,'0');
  window.chatApp.bindEvents();

  (function collectGamers() {
           <% @visitors.each do |visitor| %>
           gamers.push('<%= visitor.number %>');
           <% end %>
  }) ();


});
</script>
<% end %>
