<% content_for :stylesheets do %>
<style type="text/css">

body,.container{
  background-color: #000000;
  width: 100%;
}

h4 {
  color: #ffffff
}

.border_radius{
  border: 2px solid #D6D6D6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.every_writer_box_down{
  float:left;
  padding-top:15%;
  width:25%;
}

.correct{
  display:none;
  z-index:10;
  position:absolute;
  left:120px;
  top:120px;
}

</style>
<% end %>
<div style="margin:0 10%">
  <% @visitors.each do |x| %>
  <div class="visitor every_writer_box_down">
    <div style="width:90%;margin:0 auto 20px auto;">
      <%= render_gamer_photo(x,"thumb",50,50) %>
      <h4 style="display:inline;"><%= x.name %></h4>
      <span id="no_correct_<%= x.number %>" class="badge">0題</span>
      <%#= render_gamer_photo(x,"thumb",50,50) %>
    </div>
    <div style="position:relative;">
      <canvas id="origin_<%= x.number %>" class="orgincanvas canvas_box" ></canvas>
      <img id="yes_img_<%= x.number %>" src="/assets/O-mark.png" height="95" class="correct" ></img>
    </div>
  </div>
  <% end %>

</div>

<% content_for :javascripts do %>

<%= javascript_include_tag 'server1-tvwall' %>

<script>

var receiveSubmitHandler = function(o){
  $('#origin_'+o.user_id).addClass("canvas_box_block");
};

var receiveCancelSubmitHandler = function(o){
        $('#origin_'+o.user_id).removeClass("canvas_box_block");
      };

function clearSetStyle(o){
  CM('origin_'+o.user_id).clear();
}

var receiveCancelSubmitHandler = function(o){
  $('#origin_'+o.user_id).removeClass("canvas_box_block");
};

var receiveCorrectUsersHandler = function(users){
  showCorrectUsers(users);
}

//後台送出答對
function showO(c){
  $("#yes_img_" + c).show();
}

function removeO(c){
  $("#yes_img_" + c).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("user_picture_block");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("user_picture_block");
}

//Gamer out
function outSetStyle(val) {
  $('#origin_'+val).css("opacity", 0);
}

function resetSetStyle(s) {
  $('#second_' + key).text(s + "秒");
}

function correctCountSetStyle(o){
  $("#no_correct_" + o.user_id).text(o.count+"題");
}


function clearAllSetStyle() {
  $('[id^=yes_img_]').hide();
  //$('[id^=answer_correct_]').text("?").css("color","");
  gamers.all().forEach(function(e){
    CM('origin_'+e).clear();
    $('#origin_'+e).removeClass("canvas_box_block");
    stopSetStyle(e);
  });
}
window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.40,
    responsiveByParent: true,
    backgroundImage: '/assets/block.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>

  //window.chatApp = new ChatApp(500,500,'0');
  //window.chatApp.bindEvents();

  (function collectGamers() {
           <% @visitors.each do |visitor| %>
           gamers.push('<%= visitor.number %>');
           <% end %>
  }) ();

});
</script>
<% end %>