<%
  @space_top = "140"
  @space_left = "5%"
  @space_right = "4%"
  @canvas_scale = 0.171
  @canvas_border = 9
  @font_formula = "w / 3 * 16 / 15"
  @bar_spacing = "40"
  @bar_formula = "(w + 5) / 2"
  @timebar_height = "16px"
  @video_position = "189px"
  @split_width = "3%"
  @correct_font = "2.5em"
  @space_left_odd = "15%"
  @space_right_odd = "15%"
  @space_left_even = "7%"
  @space_right_even = "7%"
  @split_width_odd = "11%"
  @split_width_even = "11%"

  @differential_row = false

  case @visitors.length
  when 2
    @canvas_scale = 0.243
    @canvas_border = 15
    @space_top = "140"
    @space_left = "25%"
    @space_right = "24%"
    @timebar_height = "22px"
  when 3
    @canvas_scale = 0.217
    @canvas_border = 13
    @space_left = "18%"
    @space_right = "17%"
    @timebar_height = "20px"
  when 4
    @font_formula = "w / 3 * 16.2 / 15"
    @bar_formula = "(w + 3) / 2"
    @canvas_scale = 0.191
    @canvas_border = 11
    @space_left = "10%"
    @space_right = "9%"
    @timebar_height = "18px"
    @video_position = "52px"
  when 6..10
    @canvas_scale = 0.131
    @canvas_border = 8
    @space_top = "100"
    @bar_spacing = "5%"
    @split_width_up = "3%"
    @split_width_down = "3%"
    @space_left = "10%"
    @space_right = "9%"
    @font_formula = "w / 3 * 16.5 / 15"
    @bar_formula = "(w + 1) / 2"
    @timebar_height = "16px"
    case @visitors.length
    when 6
       @split_width_up = "12%" 
       @split_width_down = "12%" 
       @space_left = "13%"
       @space_right = "12%"
       @video_position = "32px"
    when 7
      @split_width_up = "7.5%" 
      @split_width_down = "12%" 
      @space_left = "11.5%"
      @space_right = "10.5%"
    when 8
      @split_width_up = "7.5%" 
      @split_width_down = "7.5%"
      @space_left = "11.5%"
      @space_right = "10.5%"
    when 9
      @split_width_up = "3%" 
      @split_width_down = "7.5%"
    end
  when 11..15
    @seprates = 2
    @numbers_per_row = 7
    @space_left = "3%"
    @space_right = "2%"
    @canvas_border = 7
    case @visitors.length
    when 12
      @canvas_scale = 0.121
      @bar_formula = "(w + 2) / 2"
      @font_formula = "w / 3 * 18.5 / 15"
    when 14
      @canvas_scale = 0.111
      @bar_formula = "(w + 2) / 2"
      @font_formula = "w / 3 * 19 / 15"
    end
  when 16..22
    @seprates = 3
    @numbers_per_row = 7
    @differential_row = true
    @space_left = "10%"
    @space_right = "8%"
    @split_width_up = "7.5%" 
    @split_width_down = "7.5%"
    @answer_padding = "17px 0 0 5px"
    @bar_formula = "(w + 2) / 2"
    @font_formula = "w / 3 * 19.5 / 15"
    @canvas_border = 6
    case @visitors.length
    when 16
      @canvas_scale = 0.101
      @font_formula = "w / 3 * 19 / 15"
      @canvas_border = 6
    when 18
      @canvas_scale = 0.091
      @canvas_border = 5
    when 20
      @correct_font = "20px"
      @canvas_scale = 0.081
      @bar_formula = "(w + 1) / 2"
      if @order_type == '1'
        @bar_spacing = "20"
        @space_top = "90"
        @seprates = 4
        @space_left_odd = "7%"
        @space_right_odd = "15%"
        @space_left_even = "15%"
        @space_right_even = "7%"
        @split_width = "8%"
        @canvas_scale = 0.081
        @canvas_border = 5
        @correct_font = "24px"
        @answer_padding = "18px 0 0 5px"
      elsif @order_type == '2' or @order_type == '3'
        @seprates = 4
      	@space_top = "80"
      	@space_left = "10%"
      	@space_right = "10%"
      	@bar_formula = "(w + 2) / 2"
      	@font_formula = "w / 3 * 17 / 15"
        @split_width = "3%"
	      @bar_spacing = "15"
        @canvas_scale = 0.091
        @canvas_border = 5
      end
    end
  when 23..30
    @seprates = 4
    @numbers_per_row = 7
    @differential_row = true
    @bar_spacing = "0.5%"
    @space_left_odd = "19%"
    @space_right_odd = "19%"
    @space_left_even = "12%"
    @space_right_even = "12%"
    @split_width_odd = "8%"
    @split_width_even = "9%"
    @canvas_scale = 0.073
    @canvas_border = 5
  when 31..40
    @seprates = 4
    @numbers_per_row = 10
    @bar_spacing = "0.4%"
    @space_left_odd = "16%"
    @space_right_odd = "16%"
    @space_left_even = "10%"
    @space_right_even = "10%"
    @split_width_odd = "5%"
    @split_width_even = "6%"
    @canvas_scale = 0.073
    @canvas_border = 5
  end
%>
<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall' %>
<style type="text/css">
p{
margin-top:-2.5px;
  /*padding-top:0.5%;*/
}

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
  overflow: hidden;
  /*width:1920px;
  height:1080px;*/
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
}

</style>
<% end %>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3" height="<%= @space_top %>">&nbsp;</td>
  </tr>
  <tr>
    <td width="32%">&nbsp;</td>
    <td>
      <!-- <div class="HP_bar" style="height:<%= @timebar_height %>;"><canvas id="sketchSecond" data-processing-sources="/assets/timebar.pde"></canvas></div></div> -->
    <div class="HP_bar" style="height:<%= @timebar_height %>;"> 
      <div id="sketchSecond" class="HP_bar_inner" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      </div>
    </div>
    </td>
    <td width="33%">&nbsp;</td>
  </tr>
  
</table>
<% if params[:auto] == '1' %>
<div class="Content" style="position: relative;"> 
  <% @visitors[0..@visitors.length].each do |visitor| %>
  
    <div class="box_a noselect" style="position: absolute;left:0px;top:0px;" se-id="<%= visitor.number %>">
      <div id="out_<%= visitor.number %>" class="out">
        <img src="/assets/tvwall/out.png" width="100%"/>
      </div>
      <div id="black_<%= visitor.number %>" class="black"></div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <div class="TopBpx">
              <div id="user_photo_<%= visitor.number %>" class="photo">
                <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
              </div>
              <% if @counting == '1' %>
              <div class="nameBox br_line01">
              <% else %>
              <div class="nameBox">
              <% end %>
                <% if visitor.title.to_s != '' %>
                <p class="name"><%= visitor.title %></p>
                <% else %>
                <p class="name">&nbsp;</p>
                <% end %>
                <p class="name"><%= visitor.name %></p>
              </div>
              <% if @counting == '1' %>
              <div class="answer10" style="padding:<%= @answer_padding %>;">
              <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:<%= @correct_font %>;">0</span></div>
              <% end %>
              <br class="CLEAR" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="grid_<%= visitor.number %>" class="Grid">
              <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
              <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
              <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
              <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
<% elsif @visitors.length == 20 %>
<div class="Content"> 
  <% if @order_type == '1' %>
  <%
    nums_per_row = @visitors.length / @seprates
    for i in 1..@seprates do
      startIndex = (i - 1) * nums_per_row
      endIndex = startIndex + nums_per_row - 1
      index_irr = startIndex
  %>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <% if i == 1 %>
        <tr>
          <td colspan="12" height="<%= @bar_spacing %>">&nbsp;</td>
        </tr>
        <% end %>
        <tr>
          <% if (i - 1) % 2 == 0 %>
            <td width="<%= @space_left_odd %>"></td>
          <% else %>
            <td width="<%= @space_left_even %>"></td>
          <% end %>
          <% @visitors[startIndex..endIndex].each do |visitor| %>
          <td>
            <div class="box_a">
              <div id="out_<%= visitor.number %>" class="out">
                <img src="/assets/tvwall/out.png" width="100%"/>
              </div>
              <div id="black_<%= visitor.number %>" class="black"></div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <div class="TopBpx">
                      <div id="user_photo_<%= visitor.number %>" class="photo">
                        <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                      </div>
                      <% if @counting == '1' %>
                      <div class="nameBox br_line01">
                      <% else %>
                      <div class="nameBox">
                      <% end %>
                        <% if visitor.title.to_s != '' %>
                        <p class="name"><%= visitor.title %></p>
                        <% else %>
                        <p class="name">&nbsp;</p>
                        <% end %>
                        <p class="name"><%= visitor.name %></p>
                      </div>
                      <% if @counting == '1' %>
                      <div class="answer10" style="padding:<%= @answer_padding %>;">
                      <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:<%= @correct_font %>;">0</span></div>
                      <% end %>
                      <br class="CLEAR" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div id="grid_<%= visitor.number %>" class="Grid">
                      <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                      <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
                      <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                      <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <% if index_irr < endIndex  %>
            <td width="<%= @split_width %>"></td>
          <% end %>

          <%
            index_irr = index_irr + 1
          %>

          <% end %>

          <% if (i - 1) % 2 == 0 %>
            <td width="<%= @space_right_odd %>"></td>
          <% else %>
            <td width="<%= @space_right_even %>"></td>
          <% end %>
        </tr>

      </table>
    <% end %>
  <% elsif @order_type == '2' or @order_type == '3' %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="1" height="<%= @bar_spacing %>">&nbsp;</td>
    </tr>
    <tr>
      <% 
        # for row in 1..2 do
        row = 1
      %>
      <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <%
            # nums_per_row = @visitors.length / @seprates
            # nums_per_row = [3,4,3]
	          nums_per_row = [6,8,6]
            # startIndex = (row - 1) * 10
	          startIndex = 0
            for i in 1..3 do
              endIndex = startIndex + nums_per_row[i-1] - 1
              index_irr = startIndex
          %>
            <tr>
              <%
               # if row == 1 and ((@order_type == '2' and (i == 1 or i == 3)) or (@order_type == '3' and i == 3))
               #   left_colspan = 3
               # elsif row == 2 and @order_type == '3' and i == 1
               #   left_colspan = 3
               # else
               #   left_colspan = 1
               # end
          		if row == 1 and @order_type == '3' and i == 3
          		   left_colspan = 3
          		else
          		   left_colspan = 1
          		end
          		split_add = @split_width
          		if i == 1 and row == 1
          		split_add = @space_left
          		end 
              %>
              <td width="<%= split_add %>" colspan="<%= left_colspan %>"></td>
              <% @visitors[startIndex..endIndex].each do |visitor| %>
                <td>
                  <div class="box_a">
                    <div id="out_<%= visitor.number %>" class="out">
                      <img src="/assets/tvwall/out.png" width="100%"/>
                    </div>
                    <div id="black_<%= visitor.number %>" class="black"></div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>
                          <div class="TopBpx">
                            <div id="user_photo_<%= visitor.number %>" class="photo">
                              <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                            </div>
                            <% if @counting == '1' %>
                            <div class="nameBox br_line01">
                            <% else %>
                            <div class="nameBox">
                            <% end %>
                              <% if visitor.title.to_s != '' %>
                              <p class="name" style="height:31px;"><%= visitor.title %></p>
                              <% else %>
                              <p class="name">&nbsp;</p>
			      
                              <% end %>
                              <p class="name"><%= visitor.name %></p>
                            </div>
                            <% if @counting == '1' %>
                            <div class="answer10" style="padding:<%= @answer_padding %>;">
                            <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:<%= @correct_font %>;">0</span></div>
                            <% end %>
                            <br class="CLEAR" />
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="grid_<%= visitor.number %>" class="Grid">
                            <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                            <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
                            <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                            <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
                <% if index_irr < endIndex  %>

		    <% if @order_type == '3' and i == 1 and index_irr == 2 %>
		        <td width="<%= @split_width %>" colspan="5"></td>
		    <% else %>
		        <td width="<%= @split_width %>"></td>
		    <% end %>
                <% end %>
                <%
                  index_irr = index_irr + 1
                %>
              <% end %>
              
              <%
               # if row == 2 and ((@order_type == '2' and (i == 1 or i == 3)) or (@order_type == '3' and i == 3))
               #   right_colspan = 3
               # elsif row == 1 and @order_type == '3' and i == 1
               #   right_colspan = 3
               # else 
               #   right_colspan = 1
               # end
		
		if row == 1 and @order_type == '3' and i == 3
		   right_colspan = 3
		else
		   right_colspan = 1
		end
		
		split_add = @split_width
		if i == 1 and row == 1
		split_add = @space_right
		end 
              %>
              <td width="<%= split_add %>" colspan="<%= right_colspan %>"></td>
            </tr>
            <%
              startIndex = endIndex + 1
            %>
            <tr>
              <td colspan="2" height="<%= @bar_spacing %>">&nbsp;</td>
            </tr>
          <% end %>
          
        </table>
      </td>
      <!-- <td width="<%= @split_width %>"></td> -->
      <% 
        # end
      %>
    </tr>
  </table>
  <% end %>
</div>

<% elsif @visitors.length > 5 %>
<div class="Content"> 

  <%
    # @seprates = ((@visitors.length - 1) / 5.0 or 1.0) + 1.0
    last_index = -1
    for i in 1..@seprates do
  %>

    <%
      nums_per_row = @numbers_per_row + (i - 1) % (@differential_row? 2 : 1)

      startIndex = last_index + 1
      endIndex = startIndex + nums_per_row - 1
      # startIndex = (i - 1) * nums_per_row + (i - 1) % 2
      # endIndex = i * nums_per_row + (i - 1) % 2 - 1
      if i == @seprates
        endIndex = @visitors.length - 1
      end
      last_index = endIndex
      index_irr = startIndex
    %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="<%= nums_per_row * 2 + 2 %>" height="<%= @bar_spacing %>">&nbsp;</td>
      </tr>
      
      <tr>
        <% if (i - 1) % 2 == 0 %>
          <td width="<%= @space_left_odd %>"></td>
        <% else %>
          <td width="<%= @space_left_even %>"></td>
        <% end %>
        
        <%
          if (i - 1) % 2 == 0
            @split_width = @split_width_odd
          else
            @split_width = @split_width_even
          end
        %>

        <% @visitors[startIndex..endIndex].each do |visitor| %>

        <td>
          <div class="box_a">
            <div id="out_<%= visitor.number %>" class="out">
              <img src="/assets/tvwall/out.png" width="100%"/>
            </div>
            <div id="black_<%= visitor.number %>" class="black"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  <div class="TopBpx">
                    <div id="user_photo_<%= visitor.number %>" class="photo">
                      <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                    </div>
                    <% if @counting == '1' %>
                    <div class="nameBox br_line01">
                    <% else %>
                    <div class="nameBox">
                    <% end %>
                      <% if visitor.title.to_s != '' %>
                      <p class="name"><%= visitor.title %></p>
                      <% else %>
                      <p class="name">&nbsp;</p>
                      <% end %>
                      <p class="name"><%= visitor.name %></p>
                    </div>
                    <% if @counting == '1' %>
                    <div class="answer10" style="padding:20px 0 0 10px;">
                    <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:<%= @correct_font %>;">0</span></div>
                    <% end %>
                    <br class="CLEAR" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div id="grid_<%= visitor.number %>" class="Grid">
                    <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                    <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
                    <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                    <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>

        <% if index_irr < endIndex  %>
        <td width="<%= @split_width %>"></td>
        <% end %>

        <%
          index_irr = index_irr + 1
        %>
        
        <% end %>

        <% if (i - 1) % 2 == 0 %>
          <td width="<%= @space_right_odd %>"></td>
        <% else %>
          <td width="<%= @space_right_even %>"></td>
        <% end %>
      </tr>
      <!-- 
      <tr>
        <td colspan="11" height="1%">&nbsp;</td>
      </tr> -->
    </table>

  <% end %>

</div>

<% else %>

<div class="Content"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="11" height="<%= @bar_spacing %>">&nbsp;</td>
    </tr>

    <tr>

      <td width="<%= @space_left %>"></td>

      <% @visitors.each do |visitor| %>
      <td>
        <div class="box_a">
          <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div class="TopBpx">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                  </div>

                  <% if @counting == '1' %>
                  <div class="nameBox br_line01_less5">
                  <% else %>
                  <div class="nameBox br_line02">
                  <% end %>

                    <% if(visitor.title) %>
                    <p class="name"><%= visitor.title %></p>
                    <% else %>
                    <p class="name">&nbsp;</p>
                    <% end %>
                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <% if @counting == '1' %>
                  <div class="answer10" style="padding:20px 0 0 10px;">
                  <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:3.5em;">0</span></div>
                  <% end %>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="grid_<%= visitor.number %>" class="Grid">
                  <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                  <div id="metal_<%= visitor.number %>" class="inner_metal"></div>
                  <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                  <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <tr>
                  <td width="10%">&nbsp;</td>
                  <td><div class="HP_bar" style="height:<%= @timebar_height %>;"><canvas id="sketchSecond_<%= visitor.number %>" data-processing-sources="/assets/timebar.pde"></canvas></div></td>
                  <td width="10%">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>

        </table>
      </div>
    </td>
    <td width="1%"></td>
    <% end %>

    <td width="<%= @space_right %>"></td>
  </tr>

  <tr>
      <td colspan="11" height="1%">
        <video width="100%" autoplay="autoplay" loop="loop" style="padding-top:<%= @video_position %>;">
          <source src="/assets/cycle1111ok.mp4" type="video/mp4"></source>
        </video>
      </td>

    </tr>
</table>
</div>

<% end %>
<div class="Zoom">
  <div class="Zoom-inner">
    <canvas id="_zoomTmp" width="100%" ></canvas>
  </div>
</div>

<% content_for :javascripts do %>

<script>
document.write('<script src="//'+ location.hostname + ':5001/socket.io/socket.io.js">\x3C/script>');
</script>
<script>
// cache stage name for server1-tvwall.js
window.stageName = 'A1';
window.pageType = "tv";  // type: console, client, tv
window.counting = <%= @counting == '1' %>;
window.hasCounter = true;
window.timeRemaining = <%= @second %>;

window.borderWidth = <%= @canvas_border %>;

</script>

<% if params[:rice] == '1' %>
<%= javascript_include_tag 'tw_cn' %>
<% end %>
<%= javascript_include_tag 'StyleDropper' %>
<%= javascript_include_tag 'socketevent-generator' %>
<%= javascript_include_tag 'commons' %>
<%= javascript_include_tag 'action-definition' %>
<%= javascript_include_tag 'view-definition' %>
<%= javascript_include_tag 'socketevent-hooker' %>

<script>

window.responsiveMethod = function(){
  var jqGridEl = $('[id^=grid_]');
  var w = $(window).width() * <%= @canvas_scale %>;
  // var w = $(".container").width() * <%= @canvas_scale %>;
  if(<%= params[:auto] == '1' %>){
    $(".box_a").width(w * 1.05);
  }
  //var w = $('.container').width() * <%= @canvas_scale %>;
  var zoomEl = $('.Zoom');
  var zoomInnerEl = $('.Zoom-inner');
  var zoomSize = $(window).height() * 0.75;
  var zoomScale = zoomSize / w;
  jqGridEl.height(w);
  jqGridEl.width(w);
  zoomEl.width(zoomSize).height(zoomSize);
  zoomInnerEl.width(zoomSize).height(zoomSize);

  
  jqGridEl.css("background-image", ["url(",")"].join(
    Commons.generateBorderBase64(jqGridEl, window.borderWidth, ['0 #ffffff', '0.5 #aaaaaa', '1 #aaaaaa'])
  )).css("padding", window.borderWidth);

  zoomInnerEl.css("background-image", ["url(",")"].join(
    Commons.generateBorderBase64(zoomEl, window.borderWidth * zoomScale, ['0 #ffffff', '0.5 #aaaaaa', '1 #aaaaaa'] )
  )).css("padding", window.borderWidth * zoomScale);
  
};

window.tuneLinePosition = function(){
  var w = $('.photo').width();
  var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', <%= @font_formula %>);
  namebox.height(w);
  // 44 means picture height
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 1.8 - w / 3 / 15 * 0.2 );
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 2 - (44 - 38) / 2 );
  namebox.css('background-position-y', <%= @bar_formula %> );
  
};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.15,
    responsiveByParent: true
    // backgroundLine: '7px rgba(255,0,0,0.6)'
    //backgroundImage: '/assets/tvwall/Metal-Frame.png'
  });

  if(<%= params[:rice] == '1' %>){
    CM.prop({ backgroundImage: '/assets/tvwall/rice-block.png'  });
  }else{
    CM.prop({backgroundLine: '7px rgba(255,0,0,0.6)'});
  }

  var gamerList = [];
  <% @visitors.each do |visitor| %>
  gamerList.push('<%= visitor.number %>');
  <% end %>

  View.registerCanvas(gamerList);
  View.collectGamers(gamerList);
  View.loadSketchSecond();

  responsiveMethod();

  CM.doAllResponsive();
  setTimeout(function(){
    tuneLinePosition();    
  }, 100);

  if(<%= params[:auto] == '1' %>){
    window.currentMovingDom = null;
    window.currentSelectDom = null;
    var block = $(".box_a");
    block.on('mousedown', function(e){
      this.isDrag = true;
      var position = $(this).position();
      this.initX = position.left;
      this.initY = position.top;
      this.startPageX = e.pageX;
      this.startPageY = e.pageY;
      currentMovingDom = this;
    });
    // block.on('mousemove', function(e){
    //   if(this.isDrag){
    //     $(this).css('left', (e.pageX - this.startPageX) + this.initX)
    //     .css('top', (e.pageY - this.startPageY) + this.initY);
    //   }
    // });
    $(document.body).on('mousemove', function(e){
      var scope = currentMovingDom;
      if(scope && scope.isDrag){
        $(scope).css('left', (e.pageX - scope.startPageX) + scope.initX)
        .css('top', (e.pageY - scope.startPageY) + scope.initY);
      }
    });
    block.on('mouseup', function(e){
      this.isDrag = false;
      currentMovingDom = null;
    });

    block.on('click', function(){
      if(this == currentSelectDom){
        $(currentSelectDom).css('box-shadow', '');
        currentSelectDom = null;
      }else{
        if(currentSelectDom){
          $(currentSelectDom).css('box-shadow', '');
        }
        $(this).css('box-shadow', '0px 0px 8px 3px #22ee22');
        currentSelectDom = this;
      }
    });

    document.addEventListener('keydown', function(e){
      var change = 1;
      var direction = '';
      if(e.shiftKey){
        change += 9;
      }
      switch(e.keyCode){
        case 37:
          direction = 'left';
          change = -(change);
          break;
        case 38:
          direction = 'top';
          change = -(change);
          break;
        case 39:
          direction = 'left';
          break;
        case 40:
          direction = 'top';
          break;
      }

      if(direction && currentSelectDom){
        var current = $(currentSelectDom).position()[direction];
        $(currentSelectDom).css(direction, current + change);
      }
      // console.log(e.keyCode);
    });
    // StyleDropper.drop('{"mapKey":"se-id","query":"[se-id]","data":{"9":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"10":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"11":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"12":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"13":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"14":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"15":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"16":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"17":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"18":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"19":{"position":"absolute","left":"0px","top":"0px","width":"243.936px"},"20":{"position":"absolute","left":"624px","top":"36px","width":"243.936px","box-shadow":"rgb(34, 238, 34) 0px 0px 8px 3px"}}}');
  }

  <% if params[:rice] == '1' %>
    translatePage();
  <% end %>

});
</script>
<% end %>
