<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall' %>
<style type="text/css">
p{
  padding-top:3.25%;
}

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
  //width:1920px;
  //height:1080px;
}
</style>
<% end %>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3" height="5%">&nbsp;</td>
  </tr>
  <tr>
    <td width="35%">&nbsp;</td>
    <td><div class="HP_bar" style="height:12px;"><canvas id="sketchSecond" data-processing-sources="/assets/timebar.pde"></canvas></div></div></td>
    <td width="35%">&nbsp;</td>
  </tr>
  
</table>

<div class="Content"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="11" height="5%">&nbsp;</td>
    </tr>
    
    <tr>
      <td width="10%"></td>
      <% @visitors[0..4].each do |visitor| %>
      <td>
        <div class="box_a">
          <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div class="TopBpx">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                  </div>
                  <div class="nameBox">
                    <p class="name"><%= visitor.title || '　' %></p>
                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="grid_<%= visitor.number %>" class="Grid">
                  <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                  <div id="metal_<%= visitor.number %>" class="inner_metal"><img src="/assets/tvwall/Metal-Frame.png" width="100%"/></div>
                  <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                  <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
      
      <td width="3%"></td>
      <% end %>

      <td width="9%"></td>
    </tr>
    
    <tr>
      <td colspan="11" height="1%">&nbsp;</td>
    </tr>
  </table>


  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="9%"></td>
      
      <% @visitors[5..9].each do |visitor| %>
      <td width="3%"></td>
      <td>
        <div class="box_a">
          <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div class="TopBpx">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%',"") %>
                  </div>
                  <div class="nameBox">
                    <% if(visitor.title) %>
                    <p class="name"><%= visitor.title %></p>
                    <% else %>
                    <p class="name">&nbsp;</p>
                    <% end %>
                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="grid_<%= visitor.number %>" class="Grid">
                  <canvas id="origin_<%= visitor.number %>" width="100%" ></canvas>
                  <div id="metal_<%= visitor.number %>" class="inner_metal"><img src="/assets/tvwall/Metal-Frame.png" width="100%"/></div>
                  <div id="glow_<%= visitor.number %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                  <div id="yes_img_<%= visitor.number %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                  
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>
      
      
      <% end %>
      
      <td width="10%"></td>
    </tr>
  </table>
  
</div>

<% content_for :javascripts do %>
<%= javascript_include_tag 'server1-tvwall' %>

<script>

var sketchSecondIns;

//使用者送出確認
var receiveSubmitHandler = function(o){
  $('#grid_'+o.user_id).addClass("bor_g");
  $('#glow_'+o.user_id).show();
};

//後台取消確認
var receiveCancelSubmitHandler = function(o){
  $('#grid_'+o.user_id).removeClass("bor_g");
  $('#glow_'+o.user_id).hide();
};

var receiveCorrectUsersHandler = function(users){
  showCorrectUsers(users);
}

//後台送出答對
function showO(c){
  $("#yes_img_" + c).show();
}

function removeO(c){
  $("#yes_img_" + c).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("green");
  sketchSecondIns.doStart();
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("green");
}

//Gamer out
function outSetStyle(val) {
  $('#out_'+val).show();
  $('#black_'+val).show();
}

function resetSetStyle(s) {
  //$('#second_' + key).text(s + "秒");
  sketchSecondIns.resetBar();
  sketchSecondIns.setSecond(parseInt(s));
}

function clearSetStyle(o){
  CM('origin_'+o.user_id).clear();
}

function correctCountSetStyle(o){
  $("#no_correct_" + o.user_id).text(o.count+"題");
}


function clearAllSetStyle() {
  $('[id^=yes_img_]').hide();
  //$('[id^=answer_correct_]').text("?").css("color","");
  gamers.all().forEach(function(e){
    CM('origin_'+e).clear();
    receiveCancelSubmitHandler({user_id: e});
    stopSetStyle(e);
  });
  sketchSecondIns.resetBar();
}

window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;
window.responsiveMethod = function(){
  var jqEl = $('[id^=grid_]');

  var w = $(window).width()*0.131;
  //var w = $('.container').width()*0.131;
  jqEl.height(w);
  jqEl.width(w);

};

window.tuneLinePosition = function(){
  var w = $('.photo').width();
  var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', w / 3 * 14.5 / 15);
  namebox.height(w);
  // 44 means picture height
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 1.8 - w / 3 / 15 * 0.2 );
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 2 - (44 - 38) / 2 );
  namebox.css('background-position-y', (w - 24) / 2 );
  
};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.15,
    responsiveByParent: true,
    backgroundLine: '7px #ff0000'
    //backgroundImage: '/assets/tvwall/Metal-Frame.png'
  });
  <% @visitors.each do |visitor| %>
  CM.reg('origin_<%= visitor.number %>');
  <% end %>


  //window.chatApp = new ChatApp(500,500,'0');
  //window.chatApp.bindEvents();

  (function collectGamers() {
   <% @visitors.each do |visitor| %>
   gamers.push('<%= visitor.number %>');
   <% end %>
 }) ();

  setTimeout(function(){
    if(!sketchSecondIns){
      sketchSecondIns = Processing.getInstanceById('sketchSecond');  
    }
    var p = $(document.getElementById('sketchSecond').parentElement);
    sketchSecondIns.setSize(p.width(), p.height());
    sketchSecondIns.setSecond(<%= @second %>);
  },300);

  responsiveMethod();
  CM.doAllResponsive();
  setTimeout(function(){
    tuneLinePosition();    
  }, 100);
});
</script>
<% end %>
