<%
  @space_top = "100"
  @space_left = "10%"
  @space_right = "9%"
  @canvas_scale = 0.05
  @canvas_border = 9
  @font_formula = "w / 3 * 16.5 / 15"
  @bar_formula = "(w + 5) / 2"
  @video_position = "123px"
  case @visitors.length
  when 2
    @space_left = "25%"
    @space_right = "24%"
    @canvas_scale = 0.08
    @canvas_border = 15
  when 3
    @space_left = "18%"
    @space_right = "17%"
    @canvas_scale = 0.07
    @canvas_border = 13
  when 4
    @space_top = "100"
    @canvas_scale = 0.06
    @canvas_border = 11
    @space_left = "10%"
    @space_right = "9%"
    @font_formula = "w / 3 * 17 / 15"
    @bar_formula = "(w + 5) / 2"
    @video_position = "123px"
  end
%>
<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'reset','tvwall' %>
<style type="text/css">
p{
  padding-top:5%;
}

body,.container{
  background-color: #000000;
  width: 100%;
  height:100%;
  //width:1920px;
  //height:1080px;
}
</style>
<% end %>
<div class="Content"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="5" height="<%= @space_top %>">&nbsp;</td>
    </tr>

    <tr>
      <td width="<%= @space_left %>"></td>
      <% @visitors.each do |visitor| %>
      <td>
        <div class="box_a">
          <div id="out_<%= visitor.number %>" class="out">
            <img src="/assets/tvwall/out.png" width="100%"/>
          </div>
          <div id="black_<%= visitor.number %>" class="black"></div>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <div class="TopBpx s1">
                  <div id="user_photo_<%= visitor.number %>" class="photo">
                    <%= render_gamer_photo(visitor,"medium",'100%','100%','') %>
                  </div>
                  <div class="nameBox br_line04">


                    <p class="name"><%= visitor.name %></p>
                  </div>
                  <div class="answer10" style="padding:15px 0 0 10px;">
                  <span id="no_correct_<%= visitor.number %>" width="100%" class="label label-primary" style="opacity:0;font-size:3em;"></span></div>
                  <br class="CLEAR" />
                </div>
              </td>
            </tr>
            <tr>
              <td>

                <div class="Grid_fix">
                  <div style="padding:<%= @canvas_border %>px;">
                    <table style="table-layout:fixed;">
                      <% (1..3).to_a.each do |x| %>
                      <tr>
                        <% (1..3).to_a.each do |y| %>
                        <td style="border: 3px solid rgba(255,0,0,0.6);padding:0">
                          <div id="grid_<%= visitor.number %>_<%= x %>_<%= y %>" class="Grid" z-index=1>
                            <canvas id="origin_<%= visitor.number %>_<%= x %>_<%= y %>" width="100%" ></canvas>
                            <div id="glow_<%= visitor.number %>_<%= x %>_<%= y %>" class="inner_glow"><img src="/assets/tvwall/img_Grid_b_green.png" width="100%"/></div>
                            <div id="yes_img_<%= visitor.number %>_<%= x %>_<%= y %>" class="correct"><img src="/assets/tvwall/red_ring.png" width="100%"/></div>
                          </div>
                        </td>
                        <% end %>
                      </tr>
                      <% end %>
                    </table> 
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </td>

      <td width="1%"></td>

      <% end %>
      <td width="<%= @space_right %>"></td>
    </tr>


    <tr>
      <td colspan="11" height="1%">
      <!-- style="padding-top:223px; padding-left:166px" -->
        <video width="100%" autoplay="autoplay" loop="loop" style="padding-top:<%= @video_position %>;">
          <source src="/assets/cycle1111ok.mp4" type="video/mp4"></source>
        </video>
      </td>
    </tr>
  </table>
</div>


<% content_for :javascripts do %>

<%= javascript_include_tag 'serverB2_helpers' %>

<script>

var showOstyle = function(uid,ij){
  $("#yes_img_"+uid+"_"+ij.row+"_"+ij.column).show();
}

var updateCorrectCount = function(uid) {
  $("#no_correct_" + uid).text(tempcount[uid]).css("color", "black");
}

var receiveSubmitHandler = function(o){
  //$('#grid_'+o.cid).addClass("bor_g");
  $('#grid_'+o.cid).css("box-shadow", '0px 0px 15px 10px rgba(55, 197, 78, 1) inset');
  $("#grid_"+o.cid).css("opacity", "0");
  $('#grid_'+o.cid).css("opacity", "1");
};


var receiveCancelSubmitHandler = function(o){
  $('#grid_'+o.cid).removeClass("bor_g");
  $('#glow_'+o.cid).hide();
};

function clearSetStyle(o){
  CM('origin_'+o.cid).clear();
}


var receiveCorrectUsersHandler = function(users){
  showCorrectUsers(users);
}



//後台送出答對
function showO(c){
  $("#yes_img_" + c.cid).show();
}

function removeO(c){
  $("#yes_img_" + c.cid).hide();
}

function startSetStyle(c) {
  $('#user_photo_'+c).addClass("green");
}

function stopSetStyle(c) {
  $('#user_photo_'+c).removeClass("green");
}

//Gamer out
function outSetStyle(val) {
  $('#out_'+val).show();
  $('#black_'+val).show();
}

function resetSetStyle(s) {
  $('#second_' + key).text(s + "秒");
}

var blockCancelOneSubmitSetStyle = function(o){
  $('#glow_'+o.cid).hide();
  //$('#grid_'+o.cid).css("opacity", 0);
  $('#grid_'+o.cid).css("box-shadow", '');
  $("#grid_"+o.cid).css("opacity", "0");
  $('#grid_'+o.cid).css("opacity", "1");
};

var tempcount = {};
function correctCountSetStyle(o){
  //$("#no_correct_" + o.user_id).show();
  $("#no_correct_" + o.user_id).css('opacity', 1);
  tempcount[o.user_id] = o.count;
}


function clearAllSetStyle() {
  $('[id^=yes_img_]').hide();
  //$('[id^=answer_correct_]').text("?").css("color","");
  gamers.all().forEach(function(e){
    for (var i = 1; i <=3; i++){
      for (var j = 1; j <= 3; j++){
        CM('origin_'+e+"_"+i+"_"+j).clear();
        blockCancelOneSubmitSetStyle({cid: e+"_"+i+"_"+j});
      }
    }
    //receiveCancelSubmitHandler({user_id: e});
    //receiveCancelSubmitHandler({cid: e+"_"+i+"_"+j});
    stopSetStyle(e);
  });
}
window.timeRemaining = parseInt(<%= @second %>);
window.alarm = null;

window.responsiveMethod = function(){
  var jqEl = $('[id^=grid_]');

  var w = $(window).width() * <%= @canvas_scale %>;
  //var w = $('.container').width()*0.191;
  jqEl.height(w);
  jqEl.width(w);
};

window.tuneLinePosition = function(){
  var w = $('.photo').width();
  var namebox = $('.nameBox');
  var name = $('.name');
  name.css('font-size', <%= @font_formula %>);
  namebox.height(w);
  // 44 means picture height
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 1.8 - w / 3 / 15 * 0.2 );
  //namebox.css('background-position-y', w / 2 - parseFloat(name.css('padding-top')) * 2 - (44 - 38) / 2 );
  namebox.css('background-position-y', <%= @bar_formula %> );
  //alert(w);
};

window.addEventListener('resize', window.responsiveMethod);

$(document).ready(function() {
  CM.prop({
    width: 500,
    height: 500,
    lineWidth: 13,
    lineColor: '#ececec',
    targetZoomScale: 0.40,
    responsiveByParent: true
    //backgroundLine: '7px rgba(255,0,0,0.6)'
    //backgroundImage: '/assets/tvwall/img_Grid_b.gif'
  });
  <% @visitors.each do |visitor| %>
  <% (1..3).to_a.each do |x| %>
  <% (1..3).to_a.each do |y| %>
  CM.reg('origin_<%= visitor.number %>_<%= x %>_<%= y %>');
  <% end %>
  <% end %>
  <% end %>

  //window.chatApp = new ChatApp(500,500,'0');
  //window.chatApp.bindEvents();

  (function collectGamers() {
   <% @visitors.each do |visitor| %>
   gamers.push('<%= visitor.number %>');
   <% end %>
 }) ();

  responsiveMethod();

  var borderWidth = <%= @canvas_border %>;
  $('.Grid_fix').css("background", "url("+ generateBorderBase64($('.Grid_fix'), borderWidth, 
    ['0 #ffffff', '0.5 #aaaaaa', '1 #aaaaaa'] ) +
  ")");
  // $('.Grid_fix').css("padding", borderWidth);


  CM.doAllResponsive();
  setTimeout(function(){
    tuneLinePosition();    
  }, 100);
});
</script>
<% end %>